#description{
    margin: 10px 10% 10px 10%;
}

#questionairy-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5% 10px 5%;
    background-color: #a7bdbd26;
    padding: 10px;
    overflow: auto;
    white-space: nowrap;
}

.question-div{
    min-width: 400px;
    max-width: 450px;
    width: 100%;
}

.questioniary-saved{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: auto;
}

#missed-a-question{
    display: none;
    background-color: #a7bdbd;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

#missed-a-question p{
    margin: 5px;
    font-size: 18px;
}

#arrow-div img{
    height: 15px;
}

.question-div p{
    font-size: 18px;
}

.row-div{
    display: flex;
    width: 100%;
}

.scoring-div{
    display: flex;
    margin-left: 20px;
}

.scoring-input{
    margin-top: 12px;
}

.scoring-div p{
    margin: 22px 15px 20px 5px;
}

.scoring-div input{
    width: auto;
}

.scoring-item{
    width: 130px;
}