

#alfa-modal{
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    background-color: rgba(255,255,255, 0.3);
  }

  #main-alfa{
      width: 60%;
      background-color: rgba(255,255,255, 0.9);
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  #header-alfa{
      margin-top: 100px;
  }

  .modal div{
      width: 80%;
      margin: 30px 0px 30px 0px;
      text-align: center;
  }
  
  .modal-h1{
      width: 100%;
      font-size: 40px;
  }
  
  #uitleg{
      width: 100%;
  }
  
  #home{
      color: #ffffff;
  }
  
  #titel{
      display: flex;
      color: #8e0000;
  }

  #titel p{
      color: #8e0000;
  }

  #info{
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #EdanZ{
      padding: 15px;
      border: 1px solid #8e0000;
      border-radius: 15px;
  }

  a{
      color: #8e0000;
  }

  #meer{
      cursor: pointer;
  }

  #meer-div{
      display: flex;
      justify-content: center;
  }

  #nieuwe-weg{
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
  }

  li{
      color: #122b46;
  }

  h6{
    color: #122b46;
  }

  #alfa-bedankt{
      display: none;
      width: auto;
      height: 100px;
  }

  #alfa-bedankt p{
    color: #0c6665;
  }

  #alfa-button{
      margin-top: 30px;
  }