#input-div{
    width: 100%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin: 0px;
    background-color: white;
}


#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.message-options{
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
    margin-top: -30px;
    color: #49beb7;
}

.send-chat-as-mail{
    font-size: 14px;
    margin: 0px;
    display: none;
    cursor: pointer;
    color: #49beb7;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: #a7bdbd;
}

.auth-message-p{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    margin: 5px 6px;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

.sender-name-message{
    font-size: 14px;
    margin-top: 0px;
    text-align: right;
}

#add-learning-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 18px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}

/* List of chats & groups */

.chats-div{
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.photo-div img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

.grouptype-description{
    font-size: 11px;
    margin-top: 0px;
}

.photo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.new-message-div{
    border-radius: 50%;
    background-color: #8e0000;
    height: 12px;
    width: 12px;
    margin: 0px 0px 15px 5px;
}

.new-message-div p{
    font-size: 10px;
    color: white;
    margin: 0px 0px 0px 3px; 
}

.new-message-count-chats{
    border-radius: 50%;
    background-color: #8e0000;
    height: 12px;
    width: 12px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 3px;
}

/* Video chat */

#video-icon{
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}



