#input-div{
    width: 93%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
}

#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.auth-message-div-auth{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -15px 20px -15px 55%;
}

.auth-message-div-user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -15px 55% -15px 20px;
}

.auth-message-p{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
}

.user-message-p{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
}

.sender-name-message{
    font-size: 11px;
    margin-top: 0px;
}

#add-learning-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 18px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}

/* List of chats & groups */

.chats-div{
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
}

.photo-div img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

.grouptype-description{
    font-size: 11px;
    margin-top: 0px;
}

.photo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}


