#mainCoach{
    display: flex;
    flex-direction: column;
}

.filterCoach{
    margin: -10px 30px 30px 30px;
    height: auto;
    width: auto;
}

.filterCoach h4{
    color: #122b46;
    font-size: 18px;
}

#filters{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#filters h4{
    color: #0c6665;
}

.coach-filter{
    font-size: 18px;
    background-color: #FFF;
    color: #122b46;
    padding: 10px;
    margin-bottom: 15px;
    border-color: #FFF;
}

#filter-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-menu {
    width: 100px;
    align-self: center;
    background-color: #FFF;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #49beb7;
    cursor: pointer;
}

.button-coaches-overview{
    width: 130px;
    align-self: center;
    background-color: #FFF;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #49beb7;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: auto;
}

#overview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.omschrijving-coach{
    margin: 30px 15px 30px 15px;
}

.locatie-div{
    display: flex;
    margin: auto 0px 50px 0px;
}

.locatie-div p{
    font-size: 14px !important;
}

.locatie-div p{
    font-size: 14px;
    margin-top: 0px
}

.pin-image-div{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
}

.nieuweD{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    background-color: #FFF;
}

.nieuweD p{
    font-size: 20px;
    max-height: 50px;
    overflow: hidden;
}

.background-div{
    background-image: url("../images/avontuur2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-bottom: -170px;
    filter: brightness(80%);
    z-index: 1;
}

.coachnaam{ 
    margin: 15px;
    cursor: pointer;
}

.coachCat{
    margin-top: 5px;
}

.nieuweTitel{
    font-weight: 800;
    margin: 30px 30px 5px 30px;
}

.profielfotoCH{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 30px 0px 0px 0px;
    border-radius: 50%;
    border: 4px solid #FFF;
    z-index: 2;
}

#loader{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


