/* Groups overview */

#tabs{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#tabs p{
    padding: 5px;
    border:  1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 16px;
}

#themegroup-tab{
    background-color: #122b46;
    color: white;
}

#practicegroups{
    display: none;
}

#coachgroups{
    display: flex;
}

#coachgroup-builder-div{
    display: none;
    height: 400px;
}

#upgrade-notice{
    cursor: pointer;
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

.subscription-outer-div h2{
    margin: 50px 0px 30px 0px;
}

#monthly-cancelation{
    font-size: 16px;
    margin-bottom: 35px;
}

#price-div-premium h4{
    margin-bottom: 0px;
    font-size: 18px;
}

#price-div-premium h6{
    margin: 10px 10px;
}

#price-div-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#exit-modal{
    cursor: pointer;
    margin-top: 5px;
}

#tutorial-div{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-outer-div{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a7bdbd26;;
}

.groups-for-coach-outer-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#vitaminds-cut-notice{
    font-size: 14px;
    font-weight: bold;
    color: #cf6e13;
}

#price-input-div{
    display: flex;
}

#coachgroup-agreement{
    padding: 0px 0px 0px 0px;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    text-align: center;
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#button-div-landing{
    cursor: pointer;
}

#minimum-likes-notice{
    display: none;
    margin: 15px;
    font-size: 14px;
    color: #cf6e13;
}

.theme-groups-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.header-image-groups{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.titelTekst{
    padding: 20px;
    margin: 30px 0px 0px 0px;
}

.group-auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.group-auth-div p{
    font-size: 14px;
    margin-top: 0px;
}

.group-auth-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: -10px;
    border: 5px solid white;
    background-color: white;
}

.group-meta-div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.group-meta-div p{
    font-size: 14px;
    margin: 5px 10px;
    border-bottom: 1px solid lightgray;
}

.title-div-themegroups{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div-themegroups h5{
    margin-top: 50px;
}

.leave-group-button{
    font-size: 12px;
    color: #cf6e13;
    cursor: pointer;
    display: none;
}

.message-timestamp{
    font-size: 14px;
    margin-top: -20px;
}

.coachgroup-builder-input-div{
    display: flex;
}

#upgrade-account-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}


/* Individual group page */

#input-div{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin: 0px;
    width: 100%;
    background-color: white;
}

#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon-group{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.message-options{
    margin: 5px;
    width: 20px;
    cursor: pointer;
}

.send-chat-as-mail{
    font-size: 14px;
    display: none;
    cursor: pointer;
    color: #49beb7;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: #a7bdbd;
}

.group-member-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#list-of-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.2);
}

#list-of-members-inner-div{
    display: flex;
}

.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tiny-mce-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-h3{
    font-size: 20px;
}

.bottom-div p{
    margin-top: 0px;
    font-size: 18px;
    padding: 0px 15px;
}

.notice-group-visitor{
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    background-color: #a7bdbd26;
    padding: 10px;
    border-radius: 5px;
}

#hide-landing-modal{
    cursor: pointer;
}

.message-div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 15px;
    margin: 5px 6px;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

.auth-message-p{
    font-size: 16px;
}

.groups-div{
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.sender-name-message{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#add-learning-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a7bdbd26;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#learning-inner-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#learnings-title-div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#learnings-title-div img{
    margin-left: 5px;
    width: 20px;
}


#select-goals{
    border: 1ps solid lightgray;
    border-radius: 15px;
    padding: 5px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 14px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}

/* Group builder */

#coachgroup-builder-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save-bar-coachgroup-builder button{
    margin: 50px 50px;
}

#create-practicegroup-goal-select{
    width: auto;
}

#create-coachgroup-goal-select{
    width: auto;
}

#foto-upload-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Coachgroup agreement */
#img-name-div-coachgroup-agreement-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}

#img-name-div-coachgroup-agreement-questions img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#visitCoachgroup{
    margin: 50px 0px 50px 0px;
}

/* Group landing page */

#group-landing-page{
    padding: 0px 0px 0px 0px;
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    text-align: center;
    background-color: #fff;
}

#banner-div img{
    width: 90%;
    border-radius: 15px;
}

#group-description{
    margin: 0px 5% 50px 5%;
    font-size: 20px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.visit-group{
    text-decoration: none !important;
}

#group-facts{
    text-align: left;
    margin-bottom: 50px;
}

#creator-information-div{
    cursor: pointer;
    margin-bottom: 0px;
}

#creator-information-div img{
    height: 60px;
    Width: 60px;
    border-radius: 50%;
}

#button-div-landing{
    margin-bottom: 40px;
}

#select-member-to-send-mail{
    width: auto;
    border: 1px solid lightgray;
    margin-bottom: 0px;
    font-size: 14px !important;
}

#sendAsMailButton{
    background-color: white;
    border: 1px solid lightgray;
    padding: 12px;
    cursor: pointer;
    font-size: 13px;
    color: #122b46;
}

.send-chat-as-mail-div{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}


@media only screen and (max-width: 938px){

    #tabs p {
        padding: 5px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        font-size: 16px;
    }

    .message-timestamp{
        margin-top: 5px;
        align-self: flex-end !important;
    }
}



