#mainCoach{
    display: flex;
    flex-direction: column;
}

.filterCoach{
    border: 1px solid #8e969e;
    margin: 30px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #8e969e;
    text-align: center;
}

.filterCoach h4{
    color: #FFF;
    font-size: 18px;
}

#filterLocatie{
    font-size: 20px;
    background-color: #FFF;
    color: #122b46;
    padding: 10px;
    margin-bottom: 15px;
    border-color: #122b46;
}

#filterCoachCategorien{
    font-size: 20px;
    background-color: #FFF;
    color: #122b46;
    padding: 10px;
    margin-bottom: 15px;
    border-color: #122b46;
}

#filterDoelgroep{
    font-size: 20px;
    background-color: #FFF;
    color: #122b46;
    padding: 10px;
    margin-bottom: 15px;
    border-color: #122b46;
}

#overview{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.nieuweD{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.coachnaam{ 
    margin: 15px;
}

.coachCat{
    margin-top: 5px;
}

.nieuweTitel{
    font-weight: 800;
    margin: 30px 30px 5px 30px;
}

.profielfotoCH{
    background-image: url("../images/neusaap2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 200px;
    width: 100%;
    margin: 0px;
}

#loader{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


