#community-outer-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a7bdbd26;
}

.community-card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

#create-new-goal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goal-overview{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #a7bdbd26;
}

.meta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

.button-support{
    margin: 20px 0px 20px 0px;
    background-color: white;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #008e8e;
    cursor: pointer;
}

#goal-wall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save-support {
    margin-top: 20px;
}

.goal-description {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 100px;
}

#support-CTA-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

#goal-social-wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
}

.social-wall-coaches-inner-div {
    margin: 30px 20% 30px 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    padding: 20px 20px 0px 20px;
    background-color: white;
    width: 650px;
}

.social-wall-coaches-inner-div p{
    word-break: break-word;
}


.timestamp-support {
    font-size: 14px;
}

.number-of-lessons-card{
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    margin-top: auto;
}

.button-clicked{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}

.load-reactions {
    align-self: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.reaction-p {
    font-size: 16px;
    margin: 5px;
}

.type-support {
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
    font-weight: bold;
}

.meta-div img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.meta-div p {
    font-size: 16px;
    font-weight: bold;
}

.goal-card {
    margin: 30px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    padding: 20px 20px 0px 20px;
    background-color: white;
    width: 250px;
}

#create-new-goal-button{
    background-color: #122B46;
    border-radius: 20px;
    border: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 50px;
    width: auto;
    align-self: center;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

#community-happiness-chart-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    margin: 50px 0px;
}

#community-resources-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
}

#community-happiness-chart-div h3{
    text-align: center;
    color: #122b46;
}


.notice-visitor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice-visitor-open-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-community-element{
    display: none;
}

.community-notice{
    display: none;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid lightgray;
    padding:  0px 5px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: lightgray;
}

.notice-p{
    font-size: 18px;
}

.log-in{
    font-size: 16px;
}

.gratitude-username{
    cursor: pointer;
}

.card-header img{
    height: 200px;
    width: 250px;
}

.card-info-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gratitudes-overview-div {
    min-height: 600px;
    width: 433px;
    border: 8px solid #8e0000;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.14), 0 12px 4px -8px rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.12);
}

#page-div {
    margin: 15px;
    width: 400px;
    min-height: 600px;
    height: auto;
    background-color: #a7bdbd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.gratitude-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.gratitude-div p {
    font-size: 14px;
    margin: 0px 5px;
}

.gratitude-div h3 {
    font-size: 20px;
}

#community-gratitude-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    padding: 50px 0px;
}

.participate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participate-explainer{
    display: none;
    color: #122b46;
    font-size: 20px;
    padding: 30px;
    border-radius: 5px;
    background-color: #a7bdbd26;
}

.participate-CTA{
    cursor: pointer;
    background-color: #a7bdbd26;
    padding: 5px;
    border-radius: 5px;
}

.sub-title-community{
    margin: 0px 50px 0px 50px;
    font-size: 23px;
    color: #122b46;
}

#question-input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#question-overview{
    background-color: #a7bdbd26;
}

.question-social-div{
    background-color: #a7bdbd26;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.answer-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.answer-icon-div img{
    width: 20px;
    height: 20px;
}

.answer-icon-div p{
    font-size: 14px;
}

.reply-div{
    background-color: whitesmoke;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#promotions-overview-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    padding: 30px;
}

.promotion-inner-div{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

#button-div{
    display: flex;
    justify-content: center;
}

.answer-username{
    font-size: 16px;
    color: #122b46;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

.answer-p{
    font-size: 18px;
    color: #122b46;
    padding: 10px;
}

.question-p{
    padding: 0px 20px;
}

.answer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background-color: lightgray;
    border-bottom: 1px solid white;
}

.question-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 100px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background-color: white;
}

#question-overview h3{
    text-align: center;
}

.question-user-div{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.question-user-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.question-user-div p{
    font-size: 16px;
    font-weight: bold;
}

.timestamp-question{
    font-size: 16px;
}

.button-question{
    margin: 20px;
}

.resource-author{
    font-size: 16px;
    font-weight: bold;
}

.resource-date{
    font-size: 16px;
}

.resource-inner-div{
    background-color: #a7bdbd;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.resource-p{
    color: white;
}

.socials-start-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    margin: 10px;
}

.social-div{
    display: none;
}

.info-div{
    margin-top: auto;
    margin-bottom: 0px;
}

.reaction-div {
    margin: 10px 0px 5px 5%;
    background-color: #a7bdbd26;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.reaction-input-div{
    display: flex;
    align-items: center;
}

.reaction-input-div input{
    width: 80%;
}

.reaction-input-div img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 938px){

    #gratitudes-overview-div {
        width: 80%;
    }

    #page-div {
        width: 90%;
    }

    #personalized-question-title{
        text-align: center;
    }

    .question-inner-div {
        margin: 30px 0px;
    }

    .social-wall-coaches-inner-div {
        margin: 10px 20% 30px 20%;
        width: 80%;
    }

    h1{
        font-size: 32px;
    }

    .goal-description {
        font-weight: bold;
        font-size: 20px;
        margin: 20px 30px;
    }

    #goal-social-wall {
        padding-top: 30px;
    }
}