.title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-div img{
    width: 200px;
    height: 150px;
}

#description-route{
    margin: 0px 300px 50px 300px;
}

.route-instruction{
    font-size: 16px;
    font-weight: bold;
}

#select-route-goal{
    width: auto;
}

.button-route{
    margin: 30px;
}

#public-private-description{
    font-size: 16px;
    margin: 10px 150px;
}

#route-options{
    background-color: #80E9FF0D;
    display: none;
}

.radio-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.route-radio{
    align-self: start;
}

.route-radio input{
    width: auto;
}

.route-radio label{
    font-size: 16px;
}

#register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-notice p{
    font-size: 16px;
}

.link-coach-account p{
    font-size: 16px;
    margin-bottom: 0px;
}

#next-step-description{
    margin: 20px 150px;
}

#links-div{
    margin-bottom: 50px;
}

#next-steps-overiew{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#route-next-step-visitor{
    display: none;
    flex-direction: column;
    align-items: center;
}

#route-next-step-auth{
    display: none;
    flex-direction: column;
    align-items: center;
}

.next-step-inner-div{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    background-color: #FFF;
}

@media only screen and (max-width: 938px){

#description-route {
    margin: 0px 20px 30px 20px;
}

.title-div p{
    margin: 20px;
}

#public-private-description {
    margin: 10px 20px;
}

#route-title{
    font-size: 38px;
}

}