/* Header */

#digimind-header-img{
    background-image: url("../images/avontuur-100.jpg");
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid #008e8e;
}

/* User div */

#profile-outer-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
}

#question-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url(../images/avontuur-100-whhitelayer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#question-input{
    border-radius: 15px;
    min-height: 150px;
}

#question-title{
    font-size: 24px;
    color: #008e8e
}

#button-question-modal{
    margin: 40px 20px 50px 20px;
}

#send-question-button{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 40px 20px 50px 20px;
}

#close-button{
    cursor: pointer;
}

#interaction-div{
    display: flex;
    margin: 0px 20px;
}

#contact-div{
    align-self: center;
    margin-left: 25%;
}

#button-question{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    width: 200px;
}

#button-appointment{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#chat-follow-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-div img{
    height: 150px;
}

#name{
    font-weight: bold;
}

#profile-picture-div{
    margin: -120px 0px 0px 0px;
}

#profile-picture-div img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

/* Private public buttons */
#private-public-div{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

#tool-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activated-goals{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 100px 5px 100px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    border: 1px solid #f7f7f7;
}

#resources-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
}

#resources-overview-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.resource-inner-div{
    background-color: #a7bdbd;
    width: 300px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.resource-inner-div img{
    width: 15px;
    cursor: pointer;
    margin: 10px;
}

.resource-inner-div p{
    font-size: 14px;
    margin: 0px 5px;
}

.active{
    background-color: #122b464D;
}

.active p{
    color: white;
}

.activeSection{
    display: flex;
}

.private-public-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.question-card-div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 15px;
    margin: 15px 6px;
    width: 90%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

#new-question-button{
    background-color: #122B46;
    border-radius: 20px;
    border: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 50px;
    width: auto;
    align-self: center;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

#select-coach-question{
    display: none;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.question-timestamp{
    font-size: 16px;
}

.answer-meta-div{
    display: flex;
    justify-content: space-evenly;
}

.answer-timestamp{
    font-size: 16px !important;
    text-align: center;
}

.answer-card-div{
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    width: 90%;
    background-color: white;
}

.answer-card-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.answer-card-div p{
    font-size: 18px;
}

.answer-coach-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.answer-coach-div P{
    font-size: 18px;
    font-weight: bold;
}

#questions-overview{
    width: 100%;
    background-color: #a7bdbd26;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.private-public-button img{
    width: 15px;
    height: 10px;
}

.private-public-button p{
    font-size: 14px;
    padding: 5px;
    margin: 0px 0px;
    color: lightgray;
}

#private-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#public-button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.section-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.section-inner-div{
    height: auto;
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: flex-start;
    padding: 0px 30px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#check-in-div{
    display: none;
}

#gratitute-journal-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
}

.hapiness-scale-img{
    cursor: pointer;
}

#gratitudes-overview-div{
    min-height: 600px;
    width: 433px;
    border: 8px solid #8e0000;
    border-radius: 15px;
    background-color:whitesmoke;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.14), 0 12px 4px -8px rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.12);
}

.gratitude-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.options-div{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 3px;
    display: block;
}

.gratitude-div h3{
    font-size: 20px;
}

.gratitude-div p{
    font-size: 14px;
    margin: 0px 5px;
}

.gratitude-div img{
    width: 15px;
    cursor: pointer;
    margin: 10px;
}

#setPrivatePublicDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setPrivatePublicDiv p{
    font-size: 16px;
    font-weight: bold;
}

#input-div{
    display: inline;
    font-size: 16px;
    color: #122b46;
}

#new-gratitude-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#input-div input{
    width: auto;
}

.public-private-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-status-public-private-gratitude{
    cursor: pointer;
}

.change-status-div{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
}

.change-status-div img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#private-public-gratitude-button{
    display: flex;
    justify-content: center;
}

#private-public-gratitude p{
    font-size: 16px;
}

#progress-box-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#number-div{
    display: flex;
    justify-content: space-evenly;
}

#number-div p{
    border: 1px solid lightgray;
    width: 30px;
    cursor: pointer;
    margin-bottom: 0px;
    font-size: 20px;
    color: gray;
}

#progress-chart{
    margin: 15px;
    height: 200px !important;
    width: 290px !important;
}

#number-div p:hover{
    background-color: #122b46;
    color: white;
}

#number-div-CTA-title{
    font-size: 18px;
    margin-bottom: 0px;
}

#progress-box{
    min-width: 100px;
    min-height: 100px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-color: white;
    border-radius: 5px;
}

#private-public-gratitude img{
    height: 20px;
}

#private-public-gratitude-title{
    font-weight: bold;
}

#page-div{
    margin: 15px;
    width: 400px;
    min-height: 600px;
    height: auto;
    background-color: #a7bdbd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#reminder-div img{
    width: 25px;
    height: 15px;
    cursor: pointer;
}

#select-tool{
    border: 1px solid lightgray;
    width: auto;
}

.titelTekst{
    font-size: 20px;
    padding: 10px;
}

.header-image-article{
    height: 200px;
    width: 100%;
}

#welcome-div{
    display: none;
}

#coaching-div{
    display: none;
}

#experience-div{
    display: none;
}

#practical-div{
    display: none;
}

#chart-div{
    margin: 50px 0px;
    width: 600px;
    height: 300px;
}

#traject-div{
    display: none;
}

.section-inner-div h2{
    margin-top: 50px;
}

.section-inner-div h3{
    font-size: 20px;
    margin-bottom: 0px;
}

#practical-inner-div{
    width: 100%;
}

.section-inner-div p{
    font-size: 20px;
    margin-top: 5px;
}

#welcome-message{
    margin: 0px 30px;
    font-size: 18px;
}

#private-section{
    display: none;
}

#coach-information-outer-div{
    background-color: #a7bdbd26;
}

.private-outer-div{
    border-top: 3px solid #122b46;
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#start-new-proces-button{
    background-color: #122B46;
    border-radius: 20px;
    border: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 50px;
    width: auto;
    align-self: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

#menu-div{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0px 50px;
    overflow: auto;
    white-space: nowrap;
}

#menu-div p{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
}

.private-menu-active{
    border-bottom: 5px solid #122b46;
}

#start-new-proces{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#proces-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#check-in-by-proces{
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 30px 5%;
    padding: 15px;
    width: -webkit-fill-available;
    background-color: white;
}

.button-digimind{
    margin: 20px
}

#analytics-menu-item{
    display: none;
}

.small-tiny-div{
    display: none;
}

#coach-profile-private{
    display: none;
    flex-direction: column;
    align-items: center;
}

.private-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.private-div p{
    font-size: 14px;
    margin-left: 5px;
}

.digimind-proces-inner-div{
    margin: 50px 50px 50px 50px;
}

#inspiration-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#follow-button{
    margin: 5px 0px 10px 0px;
    display: none;
    justify-content: center;
    width: 200px;
}

#favorite-coaches-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
}

#select-proces-div{
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}

#inspiration-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#proces-display-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
    margin-top: 20px;
}

.levensles-div-ontwikkeling{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 30px 5%;
    padding: 15px;
    background-color: white;
}

.levensles-div-ontwikkeling h3{
    font-size: 20px;
}

.ontwikkeling-levensles-meta-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ontwikkeling-levensles-meta-div p{
    font-size: 16px;
}

#menu-div-mobile{
    display: none;
    flex-direction: column;
    align-items: center;
}

.edit-element:hover{
    border: 0.5px dotted black;
    cursor: url('../images/edit-icon.png'), auto;
}

#tiny-mce-div{
    display: none;
}

#menu-div-mobile p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

#menu-select-mobile{
    width: auto;
    width: 100%;
}

#profile-picture-div-private{
    margin: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#upload-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#profile-picture-div-private img{
    border-radius: 50%;
    height: 210px;
    width: 210px;
}

#favorite-coaches-select{
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#coach-select-div{
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #122b46;
    border-radius: 15px;
    padding: 10px;
    margin: 50px 20px 20px 30px;
}

#select-div{
    display: none;
}

.insights-outer-div{
    display: flex;
    margin: 10px 100px 5px 100px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    border: 1px solid #f7f7f7;
    width: 550px;
}

.insights-outer-div h2{
    text-align: left;
    align-self: center;
    font-size: 18px;
}

#insight-timestamp{
    font-size: 14px;
    margin-top: 34px;
    font-weight: 600;
}

.insights-outer-div p{
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
}

.meta-div-insights{
    border-right: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
    justify-content: center;
}

.text-div-insights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.meta-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#admin-analytics{
    display: none;
    flex-direction: column;
    align-items: center;
}

#traction-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#earnings-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#earnings-analytics{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    margin: 30px 0px;
    width: 100%;
}

.analytics-card{
    padding: 10px;
    margin: 10px 10px 30px 10px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.analytics-card p{
    text-align: center;
    font-weight: bold;
}

#happiness-entry-notice{
    display: none;
    font-size: 20px;
    font-weight: bold;
}

#happiness-scale-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
}

#check-in-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a7bdbd26;
}

.analytics-card li{
    font-size: 18px;
}

.numbers-analytics{
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    width: 75px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#date-p{
    font-size: 16px;
}

#inspiration-notifications {
    margin: 15px;
    width: 100%;
    padding: 15px;
}

#inspiration-notifications h3{
    font-size: 20px;
}

#inspiration-notifications li{
    font-size: 17px;
}

#social-notifications-outer-div{
    margin-top: 50px;
    background-color: #a7bdbd26;
}

#public-section{
    background-color: #a7bdbd26;
}

#plus-minus-outer-div{
    background-color: #a7bdbd26;
}

.gamefication-outer-div{
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.gamefication-outer-div h4 {
    font-size: 14px;
    color: #122b46;
}

#inner-div-gamefication {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inner-div-gamefication p{
   border-radius: 50%;
   padding: 10px;
   border: 3px solid yellow;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#trophies img {
    height: 131px;
}

#gelukstegoed-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gelukstegoed-card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.gelukstegoed-img{
    height: 200px;
    width: 250px;
}

#up-to-date-gelukstegoed-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#up-to-date-gelukstegoed{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

#plus-minus-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plus-minus-inner-div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.product-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #122b463a;
    margin: 15px;
    border-radius: 5px;
    width: 330px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product-div p{
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

#chat-button{
    display: none;
    justify-content: center;
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    width: 200px;
}

.support-card-message{
    font-size: 16px;
    background-color: #a7bdbd26;
    padding: 20px;
}

#reaction-count-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#reactions-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
}

.support-card-type{
    font-weight: bold;
    text-align: center;
}

.meta-a-div{
    display: flex;
    justify-content: space-evenly;
}

.meta-a-div p{
    font-size: 16px;
}

.meta-b-div{
    display: flex;
    justify-content: center;
}

.meta-b-div p{
    font-size: 16px;
}


.support-card{
    width: 80%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
}

.reaction-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.reaction-image-div img{
    width: 50px;
    height: 50px;
}

.reaction-image-div p{
    font-size: 16px;
    font-weight: bold;
}

#show-chat{
    text-decoration: none;
    color: white;
}

#show-chat-button{
    display: none;
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer; 
    margin-top: 5px;
}

#files-overview{
    min-height: 400px;
    width: 100%;
    background-color: #a7bdbd26;
    margin-top: 30px;
}

#files-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-inner-div{
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    margin-top: 30px;
    width: 300px;
}

.vistit-file-p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#lesson-div-title{
    text-align: center;
}

.account-private-menu-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-button{
    display: none;
    margin: 5px;
    width: 200px;
}

#scroll-indicator{
    display: none;
}

@media only screen and (max-width: 938px){

    #menu-div{
        margin: 10px 10px 0px 10px;
    }

    .account-private-menu-div{
        margin: 0px 15px;
    }

    #private-public-div {
        margin-top: 30px;
    }

    #profile-outer-div {
        align-items: center;
        width: 100%;
    }

    #name {
        margin-left: 0px;
    }

    #chat-button {
        margin: 0px;
    }

    #digimind-header-img {
        background-image: url(../images/avontuur-100.jpg);
        height: 250px;
        width: 100%;
        background-attachment: unset;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #122b46;
    }

    .digimind-proces-inner-div p{
        margin: 0px 20px;
    }

    #welcome-message {
        margin: 0px 0px;
    }

    .section-inner-div p {
        font-size: 17px;
    }

    #select-proces-div {
        border: 0px
    }

    .levensles-div-ontwikkeling h3 {
        font-size: 17px;
    }

    .insights-outer-div {
        width: 85%;
        margin: 5px;
        flex-direction: column;
        align-items: center;
    }

    #inspiration-notifications {
       width: auto;
    }

    .analytics-card{
        width: 90%;
        margin: 10px 0px 10px 0px;
    }

    .analytics-card li{
        font-size: 16px;
    }

    #activated-goals {
        margin: 20px;
    }

    #happiness-scale img{
        height: 60px;
    }

    #chart-div {
        width: 100%;
        height: auto;
        margin: 20px 0px 0px 0px;
    }

    #happiness-question{
        margin: 30px 20px 10px 20px;
        font-size: 18px;
    }

    #gratitudes-overview-div {
        width: 90%;
    }

    #page-div {
        width: 90%;
    }

    .meta-div-insights {
        padding: 10px;
    }

    .tox{
        width: 300px;
    }

    #select-route-div p{
        font-size: 18px;
    }

    #select-coach-question{
        width: 90%;
    }

    #scroll-indicator{
        display: flex;
        justify-content: center;
        height: 15px;
        margin: 20px 0px -20px 0px;
    }

    #scroll-indicator img{
        height: 15px;
    }

    .title-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}



