/* Header */

#digimind-header-img{
    background-image: url("../images/avontuur28.jpg");
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid #122b46;
}

/* User div */

#profile-outer-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 75%;
}

#chat-follow-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name{
    font-weight: bold;
}

#profile-picture-div{
    margin: -120px 0px 0px 0px;
}

#profile-picture-div img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 1px solid #122b46;
}

/* Private public buttons */
#private-public-div{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.active{
    background-color: #122b464D;
}

.active p{
    color: white;
}

.activeSection{
    display: flex;
}

.private-public-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.private-public-button img{
    width: 15px;
    height: 10px;
}

.private-public-button p{
    font-size: 14px;
    padding: 5px;
    margin: 0px 0px;
    color: lightgray;
}

#private-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#public-button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.section-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.section-inner-div{
    height: auto;
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: flex-start;
    padding: 0px 30px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

#welcome-div{
    display: none;
}

#coaching-div{
    display: none;
}

#experience-div{
    display: none;
}

#practical-div{
    display: none;
}

#traject-div{
    display: none;
}

.section-inner-div h2{
    margin-top: 50px;
}

.section-inner-div h3{
    font-size: 20px;
    margin-bottom: 0px;
}

#practical-inner-div{
    width: 100%;
}

.section-inner-div p{
    font-size: 20px;
    margin-top: 5px;
}

#welcome-message{
    margin: 0px 30px;
    font-size: 18px;
}

#private-section{
    display: none;
}

.private-outer-div{
    border-top: 3px solid #122b46;
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#start-new-proces-button{
    background-color: #122B46;
    border-radius: 20px;
    border: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 50px;
    width: auto;
    align-self: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

#menu-div{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0px 50px;
}

#menu-div p{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
}

.private-menu-active{
    border-bottom: 5px solid #122b46;
}

#start-new-proces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proces-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#check-in-by-proces{
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 30px 5%;
    padding: 15px;
    width: -webkit-fill-available;
}

.button-digimind{
    margin: 20px
}

#analytics-menu-item{
    display: none;
}

.small-tiny-div{
    display: none;
}

#coach-profile-private{
    display: none;
    flex-direction: column;
    align-items: center;
}

.private-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.private-div p{
    font-size: 14px;
    margin-left: 5px;
}

.digimind-proces-inner-div{
    margin: 50px 50px 50px 50px;
}

#inspiration-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#follow-button{
    margin: 5px 0px 0px 0px;
    display: none;
}

#favorite-coaches-div{
    display: none;
}

#select-proces-div{
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}

#inspiration-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#proces-display-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levensles-div-ontwikkeling{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 30px 5%;
    padding: 15px;
}

.levensles-div-ontwikkeling h3{
    font-size: 22px;
}

.ontwikkeling-levensles-meta-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ontwikkeling-levensles-meta-div p{
    font-size: 16px;
}

#menu-div-mobile{
    display: none;
    flex-direction: column;
    align-items: center;
}

.edit-element:hover{
    border: 0.5px dotted black;
    cursor: url('../images/edit-icon.png'), auto;
}

#tiny-mce-div{
    display: none;
}

#menu-div-mobile p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

#menu-select-mobile{
    width: auto;
    width: 100%;
}

#profile-picture-div-private{
    margin: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#upload-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#profile-picture-div-private img{
    border-radius: 50%;
    height: 210px;
    width: 210px;
}

#favorite-coaches-select{
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#coach-select-div{
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #122b46;
    border-radius: 15px;
    padding: 10px;
    margin: 50px 20px 20px 30px;
}

.insights-outer-div{
    display: flex;
    margin: 10px 100px 5px 100px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    border: 1px solid #f7f7f7;
    width: 550px;
}

.insights-outer-div h2{
    text-align: left;
    align-self: center;
    font-size: 18px;
}

#insight-timestamp{
    font-size: 14px;
    margin-top: 34px;
    font-weight: 600;
}

.insights-outer-div p{
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
}

.meta-div-insights{
    border-right: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
    justify-content: center;
}

.text-div-insights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.meta-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#admin-analytics{
    display: none;
    flex-direction: column;
    align-items: center;
}

#traction-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#earnings-inner-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#earnings-analytics{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 30px 0px;
    width: 100%;
}

.analytics-card{
    padding: 10px;
    margin: 10px 10px 30px 10px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.analytics-card p{
    text-align: center;
    font-weight: bold;
}

#happiness-scale-div{
    display: none;
}

#check-in-div{
    display: none;
}

.analytics-card li{
    font-size: 18px;
}

.numbers-analytics{
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    width: 75px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#date-p{
    font-size: 16px;
}

#inspiration-notifications {
    margin: 15px;
    width: 100%;
    padding: 15px;
}

#inspiration-notifications h3{
    font-size: 20px;
}

#inspiration-notifications li{
    font-size: 17px;
}

#social-notifications-outer-div{
    margin-top: 50px;
}

.gamefication-outer-div{
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.gamefication-outer-div h4 {
    font-size: 14px;
    color: #122b46;
}

#inner-div-gamefication {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inner-div-gamefication p{
   border-radius: 50%;
   padding: 10px;
   border: 3px solid yellow;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#trophies img {
    height: 131px;
}

#gelukstegoed-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gelukstegoed-card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.gelukstegoed-img{
    height: 200px;
    width: 250px;
}

#up-to-date-gelukstegoed-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#up-to-date-gelukstegoed{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

#plus-minus-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plus-minus-inner-div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.product-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #122b463a;
    margin: 15px;
    border-radius: 5px;
    width: 330px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product-div p{
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

#chat-button{
    display: none;
}

@media only screen and (max-width: 938px){

    #menu-div-mobile{
        display: flex;
    }

    #menu-div{
        display: none;
    }

    #private-public-div {
        margin-top: 30px;
    }

    #profile-outer-div {
        align-items: center;
        width: 100%;
    }

    #name {
        margin-left: 0px;
    }

    #chat-button {
        margin-left: 0px;
    }

    #digimind-header-img {
        background-image: url(../images/avontuur28-250.jpg);
        height: 250px;
        width: 100%;
        background-attachment: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #122b46;
    }

    .digimind-proces-inner-div p{
        margin: 0px 20px;
    }

    #welcome-message {
        margin: 0px 0px;
    }

    .section-inner-div p {
        font-size: 17px;
    }

    #select-proces-div {
        border: 0px
    }

    .levensles-div-ontwikkeling h3 {
        font-size: 17px;
    }

    .insights-outer-div {
        width: auto;
        margin: 5px;
    }

    #inspiration-notifications {
       width: auto;
    }

    .analytics-card{
        width: 90%;
        margin: 10px 0px 10px 0px;
    }

    .analytics-card li{
        font-size: 16px;
    }

}



