#container{
    display: flex;
}

#selectie{
    border: 1px solid #8e969e;
    width: 20%;
    height: auto;
    margin: 30px;
    padding: 15px;
}

#lijst{
    width: 70%;
    height: auto;
    margin: 30px;
}

.mainDivEve{
    border: 1px solid rgb(206, 197, 197);
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
}

.headerEve{
    background-image: url("../images/avontuur1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.timeEvene{
    font-size: 25px;
    font-weight: 800;
}

.auteurEve{
    font-size: 14px;
}

.titelEve{
    color: #0c6665;
}