/* Make new event */

#new-event-banner{
    background-image: url("/images/event-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 250px;
}

#make-new-event{
    height: 450px;
    width: 250px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
    display: none;
    flex-direction: column;
    align-items: center;
}

#new-event-button{
    width: 150px;
}

#upgrade-notice{
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

#upgrade-account-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

#price-div-premium h4{
    margin-bottom: 0px;
    font-size: 22px;
}

#price-div-premium h6{
    margin: 10px 10px;
}

#price-div-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#exit-modal{
    cursor: pointer;
    margin-top: 5px;
}

#new-event-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#price-input{
    display: flex;
}

#price-input input{
    width: 65px;
}

#button-save-new-event{
    margin: 30px;
}

#online-live-select{
    width: 200px;
}

#location-event{
    display: none;
}

/* Events overview */

#events-overview{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#event-overview{
    display: flex;
    justify-content: center;
}

.event-outer-div{
    height: auto;
    width: 250px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-outer-div img{
    height: 200px;
    width: 250px;
}

#button-event-overview{
    margin-bottom: 20px;
}

#event-description{
    margin: 20px 10% 20px 10%;
}

.event-type{
    color: white;
    border: 1px solid #a7bdbd;
    background-color: #a7bdbd;
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.event-outer-div h2{
    margin: 10px;
    font-size: 25px;
}

.date-event{
    background-color: white;
    border-radius: 5px;
    margin: 10px 50px 20px 50px;
    padding: 10px;
    font-weight: bold;
}

.organizer-event-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
    cursor: pointer;
}

.organizer-event-div img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.organizer-event-div p{
    font-size: 16px;
    margin-top: 0px;
}

.organizer-event-detail-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    cursor: pointer;
}

.organizer-event-detail-div img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.event-detail-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organizer-event-detail-div p{
    font-size: 16px;
    margin-top: 0px;
}

.organiser-event-message{
    font-size: 20px;
}

.meta-div-event-detail{
    margin-top: 20px;
}

.meta-div-event-detail p{
    font-size: 18px;
    margin-top: 0px;
}

#register-event-button{
    margin: 20px 50px 50px 50px;
}

