#upgrade-notice{
    cursor: pointer;
}

#upgrade-account-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

.notice-premium-coaches{
    font-size: 14px !important;
    margin-top: 0px;
    cursor: pointer;
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

#price-div-premium h4{
    margin-bottom: 0px;
    font-size: 22px;
}

#price-div-premium h6{
    margin: 10px 10px;
}

#price-div-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#exit-modal{
    cursor: pointer;
    margin-top: 5px;
}

.theme-groups-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.theme-groups-header img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 250px;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#groups-for-coaches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a7bdbd26;
}

.group-auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-auth-div p{
    font-size: 16px;
}

.group-auth-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.group-meta-div{
    padding: 10px 20px;
}

.group-meta-div p{
    font-size: 18px;
}

.leave-group-button{
    font-size: 16px;
    cursor: pointer;
}

/* Group landing page */

#group-landing-page{
    padding: 0px 0px 0px 0px;
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    text-align: center;
    background-color: #fff;
}

#group-description{
    margin: 0px 5% 50px 5%;
    font-size: 30px;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

#group-facts{
    text-align: left;
    margin-bottom: 50px;
}

#creator-information-div{
    cursor: pointer;
    margin-bottom: 0px;
}

#creator-information-div img{
    height: 60px;
    Width: 60px;
    border-radius: 50%;
}

#button-div-landing{
    margin-bottom: 40px;
}

#premium-price{
    font-size: 14px;
    margin-top: -15px;
    cursor: pointer;
}

#input-div{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin: 0px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.reaction-div{
    margin: 10px 0px 5px 5%;
    background-color: #a7bdbd26;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.reaction-meta-div{
    display: flex;
    width: 100%;
}

.social-div{
    display: none;
}

.reaction-p{
    font-size: 16px;
    margin: 5px;
}

.reaction-sender{
    font-size: 16px;
    font-weight: 400 !important;
    margin-top: -5px;
}

.socials-start-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.reaction-timestamp{
    font-size: 14px !important;
    
}

.reaction-name{
    margin-left: auto !important;
    font-size: 14px !important;
    font-weight: bold;
    margin-right: 10px;
}

#input-div-reaction{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 10px;
}

#input-div-reaction textarea{
    width: 90%;
}

.reactions-div{
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.reaction-inner-div{
    border-top: 1px solid lightgray;
    width: 100%;
    background-color: #a7bdbd26;
}

.reaction-inner-div-second-layer{
    border-top: 1px solid lightgray;
    width: 90%;
    background-color: white;
    margin-left: 5%;
}

.load-reactions{
    align-self: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.reaction-inner-div p{
    font-size: 18px;
    margin-left: 10px;
}

#input-div-reaction img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.show-reactions-div{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.show-reactions-div p{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon-group{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.reaction-input-div{
    display: flex;
    align-items: center;
}

.message-options {
    margin: 5px;
    width: 20px;
    cursor: pointer;
}

.button-div p {
    font-size: 14px;
}

#localVideoContainer {
    width: 20%;
    height: 20%;
    position: relative;
    border-bottom-right-radius: 15px;
}

#localVideo {
    display: none;
    border-bottom-right-radius: 15px;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

#videos {
    position: relative;
    width: 100%;
    display: none;
    background-color: #a7bdbd;
    min-height: 400px;
}

#video-stop-icon{
    display: none;
}

#buttons button {
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    border: none;
    color: #122b46;
}

#buttons-room button {
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    border: none;
    color: #122b46;
}

#buttons-room {
    display: none;
    left: 35vw;
    right: 35vw;
    z-index: 3;
    bottom: -10vh;
    align-items: center;
    justify-content: center;
}

#shareButtonDiv{
    display: none;
}

#cameraOptions{
    display: none;
}

#fullScreenDiv{
    display: none;
}

#localVideoShowDiv{
    display: none;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px 5px;
}

#buttons {
    display: none;
    left: 35vw;
    right: 35vw;
    z-index: 3;
    bottom: -10vh;
    align-items: center;
    justify-content: center;
}

#sendAsMailButton {
    background-color: white;
    border: 1px solid lightgray;
    padding: 12px;
    cursor: pointer;
    font-size: 13px;
    color: #122b46;
}

#select-member-to-send-mail {
    width: auto;
    border: 1px solid lightgray;
    margin-bottom: 0px;
    font-size: 14px !important;
}

.auth-message-p {
    font-size: 18px;
}

.send-chat-as-mail-div {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.send-chat-as-mail{
    font-size: 14px;
    margin: 0px;
    display: none;
    cursor: pointer;
    color: #49beb7;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-color: #a7bdbd;
}

.group-member-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#group-button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-of-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.2);
}

.message-timestamp{
    font-size: 14px;
    margin-top: -38px;
}

#banner-div img{
    width: 90%;
    border-radius: 15px;
}

.button-group-for-coaches-purchase{
    background-color: #122b46;
    border: 1px #122b46 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: auto;
}

#list-of-members-inner-div{
    display: flex;
    flex-wrap: wrap;
}

#hide-landing-modal{
    cursor: pointer;
}

.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.bottom-div p{
    margin-top: 0px;
    font-size: 18px;
    padding: 0px 15px;
}

.message-div {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 15px;
    margin: 15px 6px;
    width: 90%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
}

.reactions-div{
    display: none;
}

.message-div input{
    width: 95%;
    border:gray;
}

.reaction-input{
    border-color: lightgray;
    border-radius: 5px;
}

.sender-name-message{
    font-size: 15px;
    margin-top: 0px;
    text-align: right;
}

#add-learning-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 14px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}