#upgrade-notice{
    cursor: pointer;
}

#upgrade-account-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

#price-div-premium h4{
    margin-bottom: 0px;
    font-size: 22px;
}

#price-div-premium h6{
    margin: 10px 10px;
}

#price-div-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#exit-modal{
    cursor: pointer;
    margin-top: 5px;
}

.theme-groups-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.theme-groups-header img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 250px;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#groups-for-coaches{
    display: flex;
    justify-content: center;
}

.group-auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-auth-div p{
    font-size: 16px;
}

.group-auth-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.group-meta-div{
    padding: 10px 20px;
}

.group-meta-div p{
    font-size: 18px;
}

.leave-group-button{
    font-size: 16px;
    cursor: pointer;
}

/* Group landing page */

#group-landing-page{
    padding: 0px 0px 0px 0px;
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    text-align: center;
    background-color: #fff;
}

#group-description{
    margin: 0px 5% 50px 5%;
    font-size: 30px;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

#group-facts{
    text-align: left;
    margin-bottom: 50px;
}

#creator-information-div{
    cursor: pointer;
    margin-bottom: 0px;
}

#creator-information-div img{
    height: 60px;
    Width: 60px;
    border-radius: 50%;
}

#button-div-landing{
    margin-bottom: 40px;
}

#premium-price{
    font-size: 14px;
    margin-top: -15px;
    cursor: pointer;
}

#input-div{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin: 0px;
    width: 100%;
}

#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon-group{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.message-options{
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
    margin-top: -30px;
    color: #49beb7;
}

.send-chat-as-mail{
    font-size: 14px;
    margin: 0px;
    display: none;
    cursor: pointer;
    color: #49beb7;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.group-member-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#list-of-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.2);
}

#list-of-members-inner-div{
    display: flex;
}

.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-div p{
    margin-top: 0px;
    font-size: 18px;
    padding: 0px 15px;
}

.auth-message-p{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    margin: 2px;
    max-width: 50%;
}

.sender-name-message{
    font-size: 11px;
    margin-top: 0px;
    text-align: right;
}

#add-learning-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 14px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}