/* Groups overview */

#tabs{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#tabs p{
    padding: 5px;
    border:  1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 16px;
}

#themegroup-tab{
    background-color: #122b46;
    color: white;
}

#practicegroups{
    display: none;
}

#coachgroups{
    display: none;
}

#coachgroup-builder-div{
    display: none;
}

.groups-outer-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#minimum-likes-notice{
    display: none;
    margin: 15px;
    font-size: 14px;
    color: #cf6e13;
}

.theme-groups-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.header-image-groups{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.group-auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.group-auth-div p{
    font-size: 14px;
    margin-top: 0px;
}

.group-auth-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid white;
}

.group-meta-div p{
    font-size: 14px;
    margin: 10px 10px;
}

.title-div-themegroups{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div-themegroups h5{
    margin-top: 50px;
}

.notice-group-visitor{
    margin: 20px;
    cursor: pointer;
    font-size: 14px;
    color: red;
    text-align: center;
}

.leave-group-button{
    font-size: 12px;
    color: #cf6e13;
    cursor: pointer;
}


/* Individual group page */

#input-div{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin: 0px;
    width: 100%;
}

#chat-input{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}

#send-icon-group{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#chat-screen{
    min-height: 350px;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.group-member-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#list-of-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.2);
}

#list-of-members-inner-div{
    display: flex;
}

.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-div p{
    margin-top: 0px;
    font-size: 18px;
    padding: 0px 15px;
}

.auth-message-p{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    margin: 2px;
    max-width: 50%;
}

.sender-name-message{
    font-size: 11px;
    margin-top: 0px;
    text-align: right;
}

#add-learning-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#add-learning-div select{
    width: auto;
}

#add-learning-div button{
    margin-top: 20px;
}

#notice-learning-added{
    color: #cf6e13;
    font-size: 14px;
    display: none;
}

#button-add-learning{
    margin-bottom: 30px;
}

/* Group builder */

#coachgroup-builder-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save-bar-coachgroup-builder button{
    margin: 50px 50px;
}

#create-practicegroup-goal-select{
    width: auto;
}

#create-coachgroup-goal-select{
    width: auto;
}


/* Coachgroup agreement */
#img-name-div-coachgroup-agreement-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}

#img-name-div-coachgroup-agreement-questions img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#visitCoachgroup{
    margin: 50px 0px 50px 0px;
}

/* Group landing page */

#group-landing-page{
    padding: 0px 0px 0px 0px;
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    text-align: center;
    background-color: #fff;
}

#group-description{
    margin: 0px 5% 50px 5%;
}

#group-facts{
    text-align: left;
    margin-bottom: 50px;
}

#creator-information-div{
    cursor: pointer;
    margin-bottom: 0px;
}

#creator-information-div img{
    height: 60px;
    Width: 60px;
    border-radius: 50%;
}

#button-div-landing{
    margin-bottom: 40px;
}


@media only screen and (max-width: 938px){

    #tabs p {
        padding: 5px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        font-size: 16px;
    }
}