/* menu */

#inspiratiemenu{
    display: flex;
    justify-content: center;
    margin: 15px 30px 10px 30px; 
    width: 200px;
    align-self: center;
}

.summary-li {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

table td{
    padding: 10px;
}

#article-body-div h2{
    color: #0c6665;
}

.button-menu{
    width: 100px;
    align-self: center;
    background-color: #49beb7;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

.inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#auth-div-lifelessons{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#auth-div-lifelessons img{
    height: 50px;
    border-radius: 50%;
}

#auth-div-lifelessons p{
    font-size: 14px;
}

#meta-div p{
    font-size: 14px;
}

#levensvraag-artikel-ouyter-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meta-user-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    cursor: pointer;
    margin-top: -8px;
}

.meta-user-div img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.meta-user-div p{
  font-size: 16px;
}

#lifelesson-p{
    font-size: 18px;
}

#lifelessons-outer-div h3{
    text-align: center;
}

.button-article{
    margin: 30px;
}

#route-select{
    width: auto;
}

#button-lifelesson{
    display: none;
}

#select-route-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#lifelessons-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    background-color: #a7bdbd;
}

#notice{
    display: block;
    font-size: 18px;
}

#edit-div{
    cursor: pointer;
    display: none;
}

#tiny-mce-div{
    display: none;
}

#bijschrijven{
    border-bottom: #122b46 2px solid;
    padding: 15px;
}

/* Overzicht pagina */
    

#inspiratie-filter-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inspiratie-filter-select{
    width: auto;
    font-size: 20px;
}

#inspiratie-filter-div p{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#alle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainTekst{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom:20px;
    align-items: center;
    border-radius: 15px;
    background-color: #FFF;
}

.mainTekst:hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 9px 7px -8px rgba(0,0,0,.2), 0 7px 11px 0 rgba(0,0,0,.12);
}

.mainTekst h4{
    color: #122b46;
    font-size: 25px;
    margin: 10px;
}

.divButton{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px 0px 20px 0px;
}

.headerTekst{
    background-image: url("../images/windmolens.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0px 0px -30px 0px;
    border-radius: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.auteurTekst{
    font-size: 14px;
    cursor: pointer;
    color: #122b46;
}

.categorieTekst{
    font-size: 14px;
    cursor: pointer;
    color: #FFF;
    margin: 5px 5px 5px 5px;
    background-color: #cf6e13;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
}

#auteur{
    cursor: pointer;
}

.titeltext{
    margin: 50px;
}

.stampTekst{
    font-size: 14px;
}

.bodyTekst{
    margin: 0px 0px 0px 0px;
    font-size: 16px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    letter-spacing: 0.6px !important;
    color: #25384d !important;
    text-align: left;
    width: 200px;
    font-weight: 500 !important;
    max-height: 50px;
}

.bodyTekst p{
    margin: 0px 0px 0px 0px;
    font-size: 16px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    letter-spacing: 0.6px !important;
    color: #25384d !important;
    text-align: left;
    width: 350px;
    font-weight: 500 !important;
    max-height: 300px;
    line-height: 1.3em !important;
}

.bodyTekst span{
    margin: 0px 0px 0px 0px !important;
    font-size: 16px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    letter-spacing: 0.6px !important;
    color: #25384d !important;
    text-align: left !important;
    width: 350px;
    font-weight: 500 !important;
    max-height: 300px;
    line-height: 1.3em !important;
}

.bodyTekst h3{
    font-size: 18px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0px 00px 0px 0px !important;
    letter-spacing: 0.6px !important;
    color: #122b46 !important;
    font-weight: 100 !important;
}

.divTekst{
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.divHeader{
    margin: 0px 0px 15px 0px;
}

#inspiratieDK{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-inspiratie{
    margin-top: auto;
}

#goals-subtitle{
    text-align: center;
    color: #1f6565;
}

#buildingblocks-subtitle{
    text-align: center;
    color: #1f6565;
    margin-top: 60px;
}

/* Levensvraag-artikelen overview */

.levensvraag-artikel-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

#goal-article-section-goal-proposal{
    display: none;
}

.levensvraag-artikel-header img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.titleSub{
    margin-top: 0px;
    text-align: center;
}

.titelTekst{
    color: #122b46;
    font-size: 22px;
    margin: 0px 20px 30px 20px;
    word-break: break-word;
}

#tools-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timestamp-p{
    font-size: 14px;
    margin-top: -10px;
}

.tool-outer-div{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: #FFF;
}

.tools-header{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -35px;
}

.tool-text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    word-break: break-all;
}

.title-tool{
    color: #122b46;
    font-size: 25px;
    margin: 0px 20px 20px 20px;
}


/* Levensvraag artikel detail pagina */

.mce-notification-inner {
    display: none !important;
}

#more-inspiration{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#paragraph-div{
    background-color: #a7bdbd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paragraph-list h3{
    font-size: 18px;
    text-align: center;
}

.paragraph-list-inner-div{
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
}

.photo-div-paragraph{
    width: 50px;
    border-radius: 50%;
}

.paragraph-list-inner-div p{
    margin: 0px 5px 0px 5px;
    font-size: 14px;
}

#theme-list-insights{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#theme-list-insights p{
    font-size: 16px;
    padding: 10px;
    color: #0c6665;
    margin: 0px; 
    cursor: pointer;
}

#insights-theme-ideas{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.levensvraag-artikel-main-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

#follow-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#follow-author{
    font-size: 16px;
    color: #008e8e;
    font-weight: bold;
    margin-bottom: 0px;
    border: 1px solid #008e8e;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

#author-div{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

#author-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#author-div p{
    font-size: 16px;
    margin-right: 10px;
}

#title-article-div{
    margin: 0px 200px -110px 200px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px 0px rgba(0,0,0,.12);
}

#summary-article{
    color: #122b46;
    margin: -60px 200px 50px 200px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 -1px 0px 0 rgba(0,0,0,.2), 0 -1px 1px 0 rgba(0,0,0,.14), 0 -2px 1px 0px rgba(0,0,0,.12);
}

#paragraph-list-theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #a7bdbd;
}

#select-paragraph-coach-insight-levensvraag{
    border-color: #cccccc;;
}

#article-body-div{
    margin: 80px 0px 50px 0px;
    width: 890px;
    font-size: 18px;
    color: #122b46;
    letter-spacing: 1px;
}

#paragraph-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #a7bdbd;
    margin-bottom: 0px;
    margin-left: 0px;
    width: fit-content;
}

#paragraph-list-theme p{
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
}

#paragraph-list h3{
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
}

#paragraph-list p{
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
    color: white;
}

.levensvraag-artikel-main-image img{
    width: 80%;
}

#levensvraag-artikel-main-image img{
    width: 100%;
}

#summary-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-paragraphs{
    font-size: 28px;
    margin-top: 100px;
}

#coach-input{
    margin: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hidden-title-div{
    visibility: hidden;
}

.meta-photo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.visit-profile-button-insights{
    color: #49beb7;
    font-size: 14px !important;
}

#coach-insights{
    margin: 0px 0px 100px 0px;
}

.insights-outer-div{
    display: flex;
    flex-direction: column;
    margin: 10px 100px 5px 100px;
    background-color: white;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #f7f7f7;
}

.insights-outer-div h3{
    text-align: center;
    align-self: center;
    color: #122b46;
    font-size: 23px;
}

.insights-outer-div p{
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    width: 95%;
}

.meta-div-insights{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.meta-div-insights p{
    text-align: center !important;
    margin-left: 15px;
}

.text-div-insights{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px 30px 30px;
    text-align: left;
    width: 100%;
}

.inspiration-icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inspiration-icon-description{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.read-more-div{
    display: flex;
    justify-content: center;
    margin-top: -35px;
    margin-bottom: 10px;
}

.button-read-more{
    background-color: #fff;
    border: 1px #1f6565 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #1f6565;
    cursor: pointer;
}

#coach-suggestions{
    font-size: 14px;
    text-decoration: underline;
    color: #49beb7;
}

.tox-tinymce {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    overflow: hidden;
    position: relative;
    visibility: inherit!important;
    width: 75%;
}

.edit-icon-insights{
    width: 20px;
    cursor: pointer;
    align-self: normal;
    flex-wrap: wrap;
}

.save-div{
    cursor: pointer;
}

.save-div p{
    cursor: pointer;
    color: #49beb7;
}

.delete-div{
    cursor: pointer;
}

.delete-div p{
    color: red;
}

#categorieSelectie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}

#categorieSelectie h2{
    font-size: 22px;
}

.category-input{
    width: auto;
}

#categorieSelectie label{
    font-size: 16px;
}

.category-div{
    text-align: left;
    display: flex;
    width: 100%;
    margin-left: 50%;
}

.sociale-div-insights{
    background-color: rgb(204, 203, 203);
    display: flex;
    margin: 0px 100px 30px 100px;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    justify-content: space-evenly;
    border: 1px solid #f7f7f7;
}

.social-div-thema-div-insights{
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.social-div-thema-div-insights h3{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
}

.social-div-thema-div-insights p{
    font-size: 14px;
    color: white;
    cursor: pointer;
    background-color: #49beb7;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.social-div-inspirational-div-insights{
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    justify-content: center;
}

.social-div-inspirational-div-insights p{
    font-size: 14px;
    margin: 0px 0px 0px 5px;
}

.social-div-inspirational-div-insights img{
    width: 30px;
    cursor: pointer;
    padding-top: 5px;
    cursor: pointer;
}

#toevoegen-levensles-outer-div{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toevoegen-levensles-outer-div img{
    width: 20px;
    cursor: pointer;
    padding-top: 5px;
}

.toevoegen-levensles{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
}

#toevoegen-levensles-div{
    padding: 0px;
    margin: 0px;
}

#toevoegen-levensles-div select{
    font-size: 14px;
    border: 1px solid #49beb7;
    width: 100%;
    margin-bottom: 0px;
}

#toevoegen-levensles-div p{
    margin: 5px;
    font-size: 14px;
    margin: 10px 0px 7px 0px;
}

.CTA-visitor p{
    font-size: 16px;
    margin: 10px;
    color: #cf6e13;
    cursor: pointer;
}

#CTA-no-goal-auth{
    display: none;
    cursor: pointer;
    font-size: 16px;
    color: #49beb7;
}

#CTA-no-goal-auth P{
    font-size: 16px;
    color: #49beb7;
}

.omschrijving-levensvraag{
    margin-bottom: 15px;
}

#show-all-themes{
    font-size: 14px;
    color: #49beb7;
    text-decoration: underline;
}

#insights-tip{
    margin: 10px;
    color: #cf6e13;
}

.meer-inspiratie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Theme page overview*/

#theme-article-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Individual theme page */

#header-image-theme-article{
    width: 100%;
}

#header-image-theme-article img{
    width: 100%;
}

#title-theme-article-div{
    margin: 0px 200px -110px 200px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px 0px rgba(0,0,0,.12);
    
}

#subtitel-theme-article-div{
    color: #122b46;
    margin: -130px 200px 50px 200px;
    border-radius: 5px;
    background-color: white;
    min-height: 110px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 -1px 0px 0 rgba(0,0,0,.2), 0 -1px 1px 0 rgba(0,0,0,.14), 0 -2px 1px 0px rgba(0,0,0,.12);
}

#subtitel-theme-article-h2{
    color: #122b46;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#subtitel-theme-article-div h2{
    color: #122b46;
}

#paragraph-list-insights{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#paragraph-list-insights p{
    font-size: 16px;
    padding-right: 10px;
}

.social-note{
    font-size: 14px !important;
    cursor: pointer;
    color: #0c6665;
    display: none;
}

#save-lifelesson-section{
    width: 100%;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

#save-lifelesson-inner-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0px -1px 0px 0 #e4e4e4;
}

#save-lifelesson-section h3{
    color: #747474;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

#save-lifelesson-section input{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #747474;
    color: #747474;
    width: 50%;
    font-size: 12px;
}

#button-CTA{
    color: #747474;
}

#collapse-div{
    border: 1px solid #747474;;
    height: auto;
    margin-left: auto;
}

#collapse-div img{
    height: 20px;
    width: 20px;
    margin-bottom: auto;
}

/* Individueel artikel pagina */

#headerInsp{
    background-image: url("../images/windmolens.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

#artikel-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artikel{
    display: flex;
    margin: -150px 0px 40px 0px;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px;
    width: 720px;
    background-color: #fff;
}

.artikel p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#thema{
    font-size: 14px;
    cursor: pointer;
    color: #FFF;
    margin: 5px 5px 5px 5px;
    background-color: #cf6e13;
    border-radius: 5px;
    padding: 5px;
}

.artikel h6{
    margin: 10px 10px 5px 30px;
    color: #122b46;
}

#meta{
    display: flex;
    justify-content: space-between;
}

#datum{
    text-align: end;
}

#bodytext{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px 30px 0px 30px;
    letter-spacing: 0.6px;
}

#bodytext img{
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

#bodytext span{
    font-size: 18px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0px 0px 0px 0px !important;
    letter-spacing: 0.6px !important;
    color: #122b46 !important;
    font-weight: 100 !important;
}

#bodytext p{
    font-size: 18px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0px 00px 0px 0px !important;
    letter-spacing: 0.6px !important;
    color: #122b46 !important;
    font-weight: 100 !important;
}

#bodytext h3{
    font-size: 20px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0px 0px 0px 0px !important;
    letter-spacing: 0.6px !important;
    color: #122b46 !important;
    font-weight: 100 !important;
}

#bodytext ul{
    font-size: 18px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0px 00px 0px 0px !important;
    letter-spacing: 0.6px !important;
    color: #122b46 !important;
    font-weight: 100 !important;
}

/* Call to action */

.calltoaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    margin: 30px 200px 30px 200px;
    padding: 10px;
    background-color: #FFF;
    border: #cf6e13 solid 1px;
    height: auto;
}

.calltoaction input{
    width: 100%;
}

#karakterTochtenAuth{
    color: #0c6665;
}

#kiesTocht{
    color: #8e0000;
}

#CTAAuth{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bijschrijven p{
    color: #0c6665;
    margin-bottom: 5px;
}

#artikel-favorieten{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: 1px solid #cf6e13;
    width: 100%;
}

#artikel-favorieten p{
    font-size: 15px;
    padding: 10px;
}

.favAut p{
    background-color: #0c6665;
    color: #FFF;

}

.favorite-inner-dive{
    display: flex;
    padding: 10px;
    align-items: center;
}

#levenvraag-notice{
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid red;
    margin-bottom: 15px;
    cursor: default;
}

#levenvraag-notice p{
    color: red;
    font-size: 16px;
    cursor: default;
}

#submit-learning-div{
    margin: 15px;
}

/* nieuwe post */

#insights-CTA{
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}

#insights-CTA::placeholder{
    font-size: 20px;
}

#insights-CTA:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#nieuwepost{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 100px 10px;
}

#postbody{
    height: auto;
    min-height: 700px;
    width: 75%;
    border: 1px solid #122b46;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
    background-color: #FFF;
}

#nieuwposttitel{
    width: 520px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 30px;
    font-size: 20px;
}

#texteditor{
    height: 100px;
    width: 75%;
    border: 1px solid #122b46;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #122b46;
    padding: 30px;
}

#texteditor button{
   border: 1px solid #fff;
   padding: 5px;
   margin: 10px 2px 10px 2px;
   border-radius: 3px;
   cursor: pointer;
   color: #fff;
   width: 28px;
   height: 35px;
   text-align: center;
   background-color: #122b46;
   font-size: 20px;
}

#texteditor img{
    border: 1px solid #fff;
    padding: 5px;
    margin: 10px 2px 10px 2px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    width: 28px;
    height: 35px;
    text-align: center;
    background-color: #122b46;
    font-size: 20px;
 }

#texteditor button:hover{
    background-color: #25384d
 }

#tutorial-div{
    margin-bottom: 50px;
}

#article-tips{
    font-size: 16px;
    margin-bottom: 30px;
}

#upgrade-notice{
    cursor: pointer;
}

#upgrade-account-modal{
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

#price-div-premium h4{
    margin-bottom: 0px;
    font-size: 22px;
}

#price-div-premium h6{
    margin: 10px 10px;
}

#price-div-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#exit-modal{
    cursor: pointer;
    margin-top: 5px;
}

 /*LearningsOutput*/

 #learningsInsp{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    margin: 30px 200px 30px 200px;
    padding: 10px;
    background-color: #fff;
 }

 #learningsOutput{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 30px;
 }

 .learnDiv{
     border: 1px solid #122b46;
     padding: 15px;
     margin: 15px;
     border-radius: 15px;
     text-align: center;
 }

 .sectionDiv{
     display: flex;
     flex-direction: column;
     width: 40%;
     height: auto;
     margin: 10px;
     border-bottom: 1px solid #122b46;
 }

 .sectionDiv h4{
     color: #0c6665;
     font-weight: bold;
     font-size: 100%;
     margin: 0px;
     font-size: 18px;
 }

 .sectionDiv p{
     font-size: 16px;
 }

 .social-div-inspiration{
     display: flex;
     justify-content: space-evenly;
     border-top: 0.5px dotted #122b46;
     margin-top: auto;
 }

 .social-div-inspiration p{
     margin: 5px;
     font-size: 14px;
 }

 .inspireerClass{
     cursor: pointer;
 }

 .GBlink{
     cursor: pointer;
 }

 #loader{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader img{
    width: 100px;
    height: 100px;
}

.bedankt-div{
    background-color: #0c6665;
    padding: 5px;
    display: none;
    border-radius: 5px;
}

.bedankt-div p{
    margin: 0px;
    color: #FFF;
}

/* The most grateful place */
#grateful-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-div-grateful{
    border: 1px solid #cccccc;
    margin: 10px 100px;
    border-radius: 5px;
    padding: 10px;
}

.inner-div-grateful{
    display: flex;
    align-items: center;
}

.meta-photo-grateful{
    cursor: pointer;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#visitorCTA{
    display: none;
}

#visitorCTA h2{
    font-size: 20px;
    margin-bottom: 100px;
}

.title-sub{
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 938px){

    #inspiratiemenu{
        border: 1px solid #122b46;
    }

    .bodyTekst{
        padding-left: 15px;
    }

    #inspiratie-filter-select{
        width: 100%;
    }

    .artikel{
        margin: 0px 0px 40px 0px;
        width: 100%;
    }

    .calltoaction{
        margin: 30px 0px 30px 0px;
    }

    #categorie{
        font-size: 20px;
    }

    .calltoaction input {
        width: 90%;
    }

    #learning-levensvraag{
        border: 1px solid #122b46;
        width: 80%;
        font-size: 14px;
    }

    #learningsInsp{
        margin: 30px 0px 30px 0px;
    }

    .levensvraag-artikel-main-information {
        margin: 10px 10px 10px 10px;
    }

    .insights-outer-div {
        margin: 10px 10px 5px 10px;
    }

    .meta-div-insights {
        border-right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: initial;
        min-width: 100%;
    }

    .text-div-insights {
        padding: 0px;
    }

    .meta-photo {
        margin-right: 15px;
    }

    #coach-input {
        margin: 0px 10px 0px 10px;
    }

    #nieuwposttitel {
        width: 95%;
       
    }

    .tox-tinymce {
        border: 1px solid #ccc;
        border-radius: 0;
        box-shadow: none;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-family: 'Nunito Sans', sans-serif;
        overflow: hidden;
        position: relative;
        visibility: inherit!important;
        width: 100%;
    }

    .sociale-div-insights {
        margin: 0px 10px 30px 10px;
        align-items: center;
    }
    
    .sociale-div-insights h3{
        margin-top: 10px;
        font-size: 14px;
    }

    #title-theme-article-div{
        margin: 0px 20px 10px 20px;
        box-shadow: 0 0px 0px 0 rgba(0,0,0);
    }

    #title-theme-article-div h1{
        font-size: 30px;
    }

    #coach-insights{
        margin: 0px 0px 100px 0px;
    }

    #subtitel-theme-article-div{
        margin: 0px 20px 50px 20px;
        box-shadow: 0 0px 0px 0 rgba(0,0,0);
    }

    #save-lifelesson-section h3{
        font-size: 12px;
    }

    #save-lifelesson-section input{
        width: 40%;
    }

    #toevoegen-levensles-div select{
        width: 100%;
    }

    #paragraph-list h3 {
        margin-left: 0%;
    }

    #title-article{
        font-size: 30px;
    }

    #title-article-div {
        margin: 0px 40px -20px 40px;
        background-color: white;
        border-radius: 50px;
        box-shadow: none;
    }

    #summary-article {
        margin: 0px;
        border-radius: 0px;
        position: relative;
        background-color: white;
        padding: 10px 30px 10px 30px;
        box-shadow: none;
        font-size: 20px;
    }

    #toevoegen-levensles-div select{
        font-size: 12px;
    }

    .toevoegen-levensles-input{
        width: auto;
    }

    .paragraph-list-inner-div{
        margin-left: 20%;
    }

    .inner-div-grateful {
        margin: 10px; 
    }

    #article-body-div {
        width: 90%;
    }

    #article-body-div img{
        width: 100%;
        height: auto;
    }
}