#casus-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-casus{
    margin: 30px 20% 30px 20%;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    padding: 20px 20px 0px 20px;
}

#create-casus input{
    width: 70%;
}

#submit-casus{
    margin: 20px 0px 20px 0px;
}

#new-casus{
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 15px 0px;
}

#casus-outer-div{
    width: 100%;
}

#casus-inner-div{
    width: 100%;
}

.casus-inner-div{
    margin: 30px 20% 30px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    padding: 20px 20px 0px 20px;
}

.casus-inner-div p{
    font-size: 16px;
    letter-spacing: 0.5px;
}

.casus-coach-div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.casus-coach-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.casus-coachname{
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

#casus-banner-div{
    background-image: url("../images/avontuur-verbonden-voelen-hero-pilot.png");
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coach-menu-main-p{
    margin-left: auto;
    color: #49beb7;
    font-size: 16px;
    border: #49beb7 1px solid;
    border-radius: 15px;
    text-decoration: none !important;
    font-weight: bold;
    padding: 5px;
   }

#casus-button{
    margin: 0px 0px 30px 0px;
}

.casus-inner-div-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 2px;
    padding: 20px 20px 0px 20px;
}

#give-reaction-outers-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid  #b3b3b3;
    border-bottom: 1px solid  #b3b3b3;
}

#give-reaction-button{
    margin: 20px 0px 20px 0px;
}

.reaction-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 20px 200px 20px 200px;
}

.casus-coach-div-reaction{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 40px;
}

.casus-coach-div-reaction img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.reaction-inner-div p{
    padding: 10px;
}

@media only screen and (max-width: 938px){

    textarea {
        max-width: 60%;
    }

    #create-casus input {
        width: 60%;
    }

    .casus-inner-div {
        margin: 30px 20px 30px 20px;
    }

    #give-reaction-outers-div {
        padding: 0px 20px 0px 20px;
    }

    .reaction-inner-div {
        margin: 20px 20px 20px 20px;
    }
}