/* Overview page */

#kenniscentrum-artikel-outer-div{
    display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.kenniscentrum-artikel-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFF;
}

.kenniscentrum-artikel-header img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 0px 0px -30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.titelTekst{
    color: #122b46;
    font-size: 25px;
    margin: 70px 20px 30px 20px;
}

/* Detail page */

.mce-notification-inner {
    display: none !important;
}

#levensvraag-artikel-ouyter-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#paragraph-list h3{
    font-size: 18px;
    color: white;
}

.paragraph-list-inner-div{
    margin: 2px;
    font-size: 16px;
    color: #122b46;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.photo-div-paragraph{
    width: 50px;
    border-radius: 50%;
}

.paragraph-list-inner-div p{
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    color: white;
}

#theme-list-insights{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#theme-list-insights p{
    font-size: 16px;
    padding: 10px;
    color: #0c6665;
    margin: 0px; 
    cursor: pointer;
}

#insights-theme-ideas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.levensvraag-artikel-main-information{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

#title-article-div{
    margin: 0px 200px -110px 200px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px 0px rgba(0,0,0,.12);
}

#summary-article{
    color: #122b46;
    margin: -70px 200px 50px 200px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 -1px 0px 0 rgba(0,0,0,.2), 0 -1px 1px 0 rgba(0,0,0,.14), 0 -2px 1px 0px rgba(0,0,0,.12);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#paragraph-list{
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd;
}

.levensvraag-artikel-main-image img{
    width: 80%;
}

#levensvraag-artikel-main-image img{
    width: 100%;
}

#summary-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#coach-input{
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#hidden-title-div{
    visibility: hidden;
}

.meta-photo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.visit-profile-button-insights{
    color: #49beb7;
    font-size: 14px;
}

#coach-insights{
    margin: 0px 0px 100px 0px;
}

.insights-outer-div{
    display: flex;
    margin: 10px 100px 5px 100px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    border: 1px solid #f7f7f7;
    width: -webkit-fill-available;
}

.insights-outer-div p{
    font-size: 14px;
    text-align: left;
}

.meta-div-insights{
    border-right: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    cursor: pointer;
    justify-content: center;
}

.meta-div-insights p{
    text-align: center !important;
}

.text-div-insights{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
    width: 100%;
}

#coach-suggestions{
    font-size: 14px;
    text-decoration: underline;
    color: #49beb7;
}

.tox-tinymce {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    overflow: hidden;
    position: relative;
    visibility: inherit!important;
    width: 75%;
}

.edit-icon-insights{
    width: 20px;
    cursor: pointer;
    align-self: normal;
    flex-wrap: wrap;
}

.save-div{
    cursor: pointer;
}

.save-div p{
    cursor: pointer;
    color: #0c6665;
    font-size: 14px;
    font-weight: bold;
}

.delete-div{
    cursor: pointer;
}

.delete-div p{
    color: red;
}

#categorieSelectie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}

#categorieSelectie h2{
    font-size: 22px;
}

.category-input{
    width: auto;
}

#categorieSelectie label{
    font-size: 16px;
}

.category-div{
    text-align: left;
    display: flex;
    width: 100%;
    margin-left: 50%;
}

.sociale-div-insights{
        background-color: rgb(204, 203, 203);
        display: flex;
        margin: 0px 100px 30px 100px;
        background-color: white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        border-radius: 2px;
        padding: 10px;
        justify-content: space-evenly;
        border: 1px solid #f7f7f7;
        width: -webkit-fill-available;
}

.social-div-thema-div-insights{
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.social-div-thema-div-insights h3{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
}

.social-div-thema-div-insights p{
    font-size: 14px;
    color: white;
    cursor: pointer;
    background-color: #cf6e13;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.social-div-inspirational-div-insights{
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.social-div-inspirational-div-insights h3{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
}

.social-div-inspirational-div-insights img{
    width: 20px;
    cursor: pointer;
    padding-top: 5px;
}

.toevoegen-levensles-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toevoegen-levensles-outer-div img{
    width: 20px;
    cursor: pointer;
    padding-top: 5px;
}

.toevoegen-levensles{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
}

#toevoegen-levensles-div{
    padding: 0px;
    margin: 0px;
}

#toevoegen-levensles-div select{
    font-size: 14px;
    border: 1px solid #dfdfdf;
    width: 100%;
    margin-bottom: 0px;
}

#toevoegen-levensles-div p{
    margin: 5px;
    font-size: 14px;
    margin: 10px 0px 7px 0px;
}

.CTA-visitor{
    font-size: 16px;
    margin: 10px;
    color: #cf6e13;
    cursor: pointer;
}

.omschrijving-levensvraag{
    margin-bottom: 15px;
}

#show-all-themes{
    font-size: 14px;
    color: #49beb7;
    text-decoration: underline;
}

#nieuwepost{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nieuwepost input{
    width: 853px;
}

#coach-insights {
    margin: 0px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-note{
    font-size: 14px !important;
    cursor: pointer;
    color: #0c6665;
    display: none;
}

#loader img{
    width: 100px;
    height: 100px;
}

.insights-outer-div h2{
    text-align: center;
    align-self: center;
}

.insights-outer-div p{
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
}

#more-articles-knowledge-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coach-menu-main-p{
    margin-left: auto;
    color: #49beb7;
    font-size: 16px;
    border: #49beb7 1px solid;
    border-radius: 15px;
    text-decoration: none !important;
    font-weight: bold;
    padding: 5px;
}

   #link-vitaminds{
    color: #8e0000;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 938px){

    .kenniscentrum-artikel-section {
        width: 100%;
        margin: 30px 20px 20px 20px;
    }

    #title-article-div {
        margin: 0px 20px 0px 20px;
        box-shadow: none;
    }

    #summary-article {
        margin: 0px 20px 50px 20px;
        box-shadow: none;
        font-size: 18px;
    }

    .insights-outer-div {
        flex-direction: column;
        margin: 10px 20px 5px 20px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

    .meta-div-insights {
        border-right: 1px solid #f7f7f7;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        min-width: 100%;
        max-width: 100%;
    }

    #nieuwepost input {
        width: 100%;
    }

    .text-div-insights {
        padding: 0px;
    }
    
    #coach-input {
        margin: 0px 20px 0px 20px;
    }
}