/* Verzamelpagina */

#verzamelOpenUps{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #a7bdbd26;
    margin-top: 0px;
}

.openup-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #122b463a;
    margin: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 330px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.openup-div:hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 9px 7px -8px rgba(0,0,0,.2), 0 7px 11px 0 rgba(0,0,0,.12);
}

.openup-meta{
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    color: #8e0000;
}

.openup-meta ul{
    list-style-type: disc;
}

.vraag-div{
    margin: 15px 0px 15px 0px;
    text-align: center;
    border-bottom: 1px #122b46 dotted;
    width: 100%;
}

.vraag-div h3{
    padding: 0px 15px 0px 15px;
}

.bron-div{
    margin-right: 15px;
}

.openup-profile-pic{
    margin: 0px 0px 0px 0px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FFF;
}

.openup-profile-pic-detail{
    margin: -90px 0px 0px 0px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FFF;
}

.auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-div{
    height: 200px;
    width: 100%;
    background-image: url("../images/avontuur2.jpg");
    background-size: cover;
    margin-bottom: -70px;
}

.lees-meer-openup{
    background-color: white;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #49beb7;
    cursor: pointer;
    width: 100px;
    margin-bottom: 15px;
    margin-top: auto;
}

.omschrijving-div{
    padding: 15px;
}

.button-read-more-open-up{
    font-size: 14px;
    color: #0c6665;
    cursor: pointer;
    padding-top: 15px;
}

/* Detailpagina */

#check-in-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    margin: 0px;
}

#check-in-outer-div p{
    font-size: 16px;
    text-align: center;
}

#check-in-select{
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 440px;
    display: none;
}

#input-check-in{
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 15px 0px;
}

#foto-upload-check-in{
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 440px;
    display: none;
}

#select-goal-check-in{
    display: none;
}

#select-photo-check-in{
    display: none;
}

#check-in-button{
    margin-top: 15px;
    background-color: white;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #008e8e;
    cursor: pointer;
    display: none;
}

#shared-notification{
    display: none;
    color: #49beb7;
}

.react-icons{
    height: 25px;
    width: 25px;
    margin: 5px;
}

.les-div{
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.les-div p{
    font-size: 18px;
    letter-spacing: 1px;
    color: #122b46;
    padding: 0px 5px;
    background-color: #ffffff47;
    margin: 10px;
}

#open-up-detail-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openup-overview{
    width: 75%;
}

.meta-user-div{
    display: flex;
    cursor: pointer;
}

.meta-user-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.meta-user-div p{
  font-size: 14px !important;
}

.openup-div-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid #122b463a;
    border-radius: 15px;
    width: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 15px;
    height: auto;
    width: 100%;
}

.openup-div-detail h5{
    margin-bottom: 0px;
}

.header-div-detail{
    height: 400px;
    width: 100%;
    background-image: url("../images/avontuur1.jpg");
    background-size: cover;
    
}

.openup-meta-detail{
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    color: #122b46;
}

.openup-meta-detail ul{
    list-style-type: disc;
}

.outer-bron-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.vraag-div-detail{
    margin: 0px 0px 30px 0px;
    text-align: center;
    width: 90%;
    background-color: #FFF;
    padding: 30px;
}

#lessen-titel-h2{
    margin: 100px 0px 0px 0px;
}

.vraag-div-detail h3{
    color: #122b46;
}

.vraag-div-detail h5{
    color: #0c6665;
}

.bron-div-detail{
    margin: 30px 20% 30px 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    padding: 20px 20px 0px 20px;
    background-color: white;
}

.bron-div-detail p{
    font-size: 18px;
    letter-spacing: 1px;
}

.bron-div-detail h4{
    font-size: 18px;
}

.tool-tip-inspirator-open-up{
    opacity: 0%;
    background-color: #122b46;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    text-align: center;
    cursor: pointer;
}

.tool-tip-inspirator-open-up p {
    color: #FFF;
}

.social-div-openup{
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 0px;
    width: 100%;
}

.meta-div-open-up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a7bdbd26;
    margin-top: 25px;
}

.meta-div-open-up p{
    font-size: 11px;
}

.timestamp-meta-p{
    font-size: 14px !important;
}

.openup-meta-source{
    cursor: pointer;
    font-size: 14px !important;
}

.auth-div-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    width: 90%;
}

.photo-div-open-up-meta{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    margin-left: 28%;
}

#insights-outer-section{
    width: 100%;
    margin-top: 100px;
}

.coach-link-openup{
    font-size: 14px;
    color: #49beb7;
    cursor: pointer;
}

#reactie-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 0px 100px 0px;
}

.inner-div-openup{
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    margin: 0px 100px 0px 100px;
    background-color: white;
}

#reactie-innerDiv{
    margin: 30px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#doel-titel-h2{
    margin: 50px 0px 0px 0px;
}

.reactie-div{
    margin-bottom: 30px;
}

.reactie-div h2{
    color: #122b46;
}

.reactie-div h4{
    font-size: 18px;
    color: #122b46;
    padding-top: 30px;
}

.openup-reactie-p{
    margin: 30px 30px 20px 30px;
}

.openup-coach-reaction-photo{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.reaction-coach-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.meta-div-openup{
    border-right: 1px solid #f7f7f7;
}

#button-reactie-openup{
    background-color: #49beb7;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 30px;
}

#social-div-openup{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    margin: 5px 100px 30px 100px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#social-div-openup p{
    margin: 0px 15px 0px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #122b46;
}

#toevoegen-levensles-div{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-div img{
    height: 20px;
    width: 20px;
    border-radius: 0px;
    margin: 0px 0px -5px 10px;
}

.follow-div img:hover{
    height: 22px;
    width: 22px;
    border-radius: 0px;
    margin: 0px 0px -5px 10px;
}

#toevoegen-levensles-div p{
    margin: 5px;
}

.omschrijving-levensvraag{
    margin-bottom: 15px;
}

#bedankt-open-up-inspirerend{
    color: #49beb7 !important;
}

.toevoegen-levensles-select{
    font-size: 14px;
    border: 1px solid #dfdfdf;
}

.edit-icon-insights{
    width: 20px;
    cursor: pointer;
    align-self: normal;
    flex-wrap: wrap;
}

#comparison-icon{
    height: 15px;
    width: 15px;
    margin-left: 0px;
}

#comparison-p{
    color: #008e8e;
}

#meta-user-name{
    margin-bottom: 0px; 
}

.save-div{
    cursor: pointer;
}

.save-div p{
    font-size: 14px;
    color: #49beb7;
}

.delete-div{
    cursor: pointer;
}

.delete-div p{
    color: red;
    font-size: 14px;
}

#flag-icon-open-up{
    height: 15px;
    width: 15px;
    margin-left: auto;
    cursor: pointer;
}

#source-of-inspiration{
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 16px;
}

@media only screen and (max-width: 938px){

    #openup-overview{
        width: 100%;
    }

    .vraag-div-detail{
        width: auto;
    }

    textarea#input-textarea{
        width: 100%;
        border: 1px solid #122b46;
    }

    #inspiratie-select{
        border: 1px solid #122b46;
        border-radius: 15px;
        width: 100%;
    font-size: 16px;
    }

    .openup-div-detail{
        border-radius: 0px;
        box-shadow: 0;
    }

    .bron-div-detail h4{
        font-size: 18px;
    }

    #reacties-overview {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        border-radius: 0px;
        margin: 30px;
        width: 100%;
    }

    .inner-div-openup {
        margin: 0px 20px 0px 20px;

    }

    #social-div-openup {
        margin: 5px 20px 30px 20px;
    }

    .toevoegen-levensles-select {
        font-size: 12px;
        width: 100%;
        padding: 10px;
    }

    .inner-div-openup {
        display: flex;
        flex-direction: column-reverse;
    }

    .reaction-coach-div {
        display: flex;
        flex-direction: initial;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        border-top: 1px solid #dfdfdf;
    }

    .bron-div-detail {
        margin: 30px 10px 30px 10px;
    }

    .sub-title {
        margin: -30px 10px 50px 10px;
    }

    #input-check-in {
        width: 100%;
    }

    #check-in-outer-div {
        margin: 10px 10px;
    }

    #check-in-select {
        width: 100%;
    }

    #foto-upload-check-in {
        width: 100%;
    }

}