/* Verzamelpagina */

#verzamelOpenUps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.OpenUpOnderwerp{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 15px;
    width: 300px;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.OpenUpOnderwerp p{
    font-size: 20px;
}

#OpenUpHeaderDB{
    background-image: url("../images/avontuur1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
}

#OpenUpHeaderKW{
    background-image: url("../images/avontuur4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
}


/* DetailPagina's*/
#chatmainDB{
    display: "block";
    align-items: center; 
    border-radius: 10px;
}

#mainInfo{
    height: 200px;
    background-color: #122b46;
    padding: 15px;
    margin: 0px 100px 0px 100px;
    text-align: center;
}

#mainInfo a:link, a:visited, a:active{
    color: #0c6665;
}

#mainInfo a{
    color: #0c6665;
}

#chatmain{
    display: "block";
    align-items: center; 
    display: none;
    border-radius: 15px;
}

.titelcard{
    background-image: url("../images/avontuur1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfd6dd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 500px;
    width: auto;
    margin: 0px 100px 0px 100px;
}

.titelcardKW{
    background-image: url("../images/avontuur4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfd6dd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 500px;
    width: auto;
    margin: 0px 100px 0px 100px;
}

.OUH1{
    color: #FFF;
}

.OUH2{
    color: #FFF;
}

.uitleg{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfd6dd;
    height: auto;
    width: auto;
    margin: 0px 100px 0px 100px;
    padding: 15px;
}

.uitleg p{
    margin: 0px 50px 30px 50px;
}

.authOO{
    background-color: #cfd6dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfd6dd;
    width: auto;
    margin: 0px 100px 0px 100px;
}

.authOO button{
    margin: 20px;
}

#persOO{
    display: flex;
    justify-content: center;
}

#gedeeld{
    width: auto;
    margin: 0px 100px 0px 100px;
}

#gedeeldKW{
    width: auto;
    margin: 0px 100px 0px 100px;
}

.OUDiv{
    border: 1px solid #cfd6dd;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px 0px 10px 0px;
}

.OUBody{
    font-weight: 800;
    color: #0c6665;
}

.OUAuteur{
    font-size: 14px;
    color: #0c6665;
}

.OUAuter a:link{
    color: #0c6665;
}

.OUTime{
    font-size: 14px;
}

.OUInteract{
    border-top: 2px solid #cfd6dd;
    margin: 0px;
    display: flex;
}

.OUInteract p{
    font-size: 18px;
    cursor: pointer;
    margin: 15px;
}

.counter{
    margin-left: 0px;
}

.extraInfo{
    color: #122b46;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid #122b46;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}

.updateOO{
    display: none;
    background-color: #0c6665;
}

.updateText{
    color: #FFF;
    padding: 5px;
}