#register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 100px 100px;
    border: 1px solid #122b46;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 15px;
}

#register-doel{
    border: 1px solid orange;
  }

#goal-localstorage-div{
    display: none;
}

#sub-titel{
    margin: 0px 50px 0px 50px;
}

#register-div input{
    width: 300px;
}

#register-button{
    margin-top: 15px;
}

#register-div h5{
    margin-bottom: 10px;
}

.vitaminders-information{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 0px 50px;
}

.vitaminders-information-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#register-button {
    margin: 15px 15px 30px 15px;
    background-color: #fff;
    border: 1px #0c6665 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #0c6665;
    cursor: pointer;
}

#register-notice{
    padding: 0px 0px 0px 0px;
    display: none; /* Hidden by default */
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    align-items: center;
    text-align: center;
    background-color: #fff;
}

#register-notice img{
    height: 300px;
}

#register-notice p{
    color: #0c6665;
    padding: 0px 50px 0px 50px;
}

#register-notice-CH{
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    border-color: #0c6665;
    margin-top: 15px;
}

#register-notice-CH p{
    color: #0c6665;
}

#link-coach-account p{
    font-size: 13px;
    margin: 5px;
}

@media only screen and (max-width: 938px){

.vitaminders-information{
    flex-wrap: wrap;
    }

    #sub-titel{
        margin: 0px 10px 50px 10px;
    }

    .coach-information-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #register-div {
        margin: 100px 0px 100px 0px;
    }
}
