#register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 100px 100px;
    border: 1px solid #122b46;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 15px;
}

#register-div input{
    width: 200px;
}

#register-button{
    margin-top: 15px;
}

#register-div h5{
    margin-bottom: 10px;
}

.vitaminders-information{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vitaminders-information-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
