#register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 100px 100px;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 15px;
}

#register-doel{
    border: 1px solid orange;
  }

#goal-localstorage-div{
    display: none;
}

#sub-titel{
    margin: 0px 50px 0px 50px;
}

#register-div input{
    width: 300px;
}

#register-button{
    margin-top: 15px;
}

#register-div h5{
    margin-bottom: 10px;
}

.vitaminders-information{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 0px 50px;
}

.vitaminders-information-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: #122b4621;
    border-radius: 5px;
    padding: 10px;
}

#register-button {
    margin: 15px 15px 30px 15px;
    background-color: #fff;
    border: 1px #0c6665 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #0c6665;
    cursor: pointer;
}

#register-notice img{
    height: 300px;
}

#register-notice p{
    color: #0c6665;
    padding: 0px 50px 0px 50px;
}

#register-notice-CH{
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    border-color: #0c6665;
    margin-top: 15px;
}

#register-notice-CH p{
    color: #0c6665;
}

#link-coach-account p{
    font-size: 13px;
    margin: 5px;
}

#succes-questions img{
    height: 50px;
}

#succes-questions h3{
    font-size: 18px;
}

@media only screen and (max-width: 938px){

.vitaminders-information{
    flex-wrap: wrap;
    margin: 0px;
    }

    #sub-titel{
        margin: 0px 10px 50px 10px;
    }

    .coach-information-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #register-div {
        margin: 100px 0px 100px 0px;
        display: flex;
        border: 0px;
        border-radius: 0px; 
    }

    .vitamindersinformation-image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vitamindersinformation-image img{
        width: 90%;
    }

    #goals-div{
        flex-direction: column-reverse;
        margin: 0px;
    }

    #goals-div img{
        width: 90%;
    }

    #favorites{
        flex-direction: column-reverse;
        margin: 0px;
    }

    #favorites img{
        width: 90%;
    }

    .vitaminders-information-text {
        margin: 0px;
    }
}
