.domein-div{
 margin: 50px;
 box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
 border-radius: 5px;
 padding: 10px;
 border-left: 1px solid #8e0000;
}

.domein-div h3{
    font-size: 14px;
    margin-bottom: 0px;
    color: #8e0000;
}

.domein-div p{
    font-size: 22px;
}

.levensvraag-div{
    margin-left: 5%;
    border-left: 1px solid #122b46;
    padding-left: 10px;
}

.levensvraag-div h3{
    font-size: 14px;
    color: #122b46;
}

.levensvraag-div p{
    font-size: 20px;
}

.theme-div{
    margin-left: 12%;
    border-left: 1px solid #0c6665;
    padding-left: 10px;
}

.theme-div h3{
    font-size: 14px;
    color: #0c6665;
}

.theme-div p{
    font-size: 18px;
}

.paragraph-div{
    margin-left: 15%;
    border-left: 1px solid #49beb7;
    padding-left: 10px;
}

.paragraph-div h3{
    font-size: 14px;
    color: #49beb7;
}

.paragraph-div p{
    font-size: 16px;
}

/* Feedback */

#feedback-section{
    position: sticky;
    bottom: 0;
    z-index: 2;
}

#feedback-thema{
    background-color: #49beb7;
    height: 50px;
    width: 100%;
}

#feedback-thema h2{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#feedback-div{
    display: none;
    flex-direction: column;
    background-color: #49beb7;
}

#close-div-feedback{
    display: none;
    margin-left: 50%;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#welkom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

#welkom-p{
    text-align: center;
}

#input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback-button{
    margin: 30px;
}

.react-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}

#feeback-input-title{
    text-align: center;
    color: white;
}

.number-of-insights{
    font-size: 12px !important;
    margin: 0px !important;
}

/* Mobile */

@media only screen and (max-width: 938px){

    #close-div-feedback {
        margin-left: 50%;
        margin-top: -10px;
    }
}

