.domein-div{
 margin: 50px;
 box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
 border-radius: 5px;
 padding: 10px;
 border-left: 1px solid #8e0000;
}

.domein-div h3{
    font-size: 14px;
    margin-bottom: 0px;
    color: #8e0000;
}

.domein-div p{
    font-size: 22px;
}

.levensvraag-div{
    margin-left: 5%;
    border-left: 1px solid #122b46;
    padding-left: 10px;
}

.levensvraag-div h3{
    font-size: 14px;
    color: #122b46;
}

.levensvraag-div p{
    font-size: 20px;
}

.theme-div{
    margin-left: 12%;
    border-left: 1px solid #0c6665;
    padding-left: 10px;
}

.theme-div h3{
    font-size: 14px;
    color: #0c6665;
}

.theme-div p{
    font-size: 18px;
}

.paragraph-div{
    margin-left: 15%;
    border-left: 1px solid #49beb7;
    padding-left: 10px;
}

.paragraph-div h3{
    font-size: 14px;
    color: #49beb7;
}

.paragraph-div p{
    font-size: 16px;
}

