#practice-overview{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.practice-outer-div{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 30px 10px 20px 10px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: #FFF;
}

.header-img img{
    width: 100%;
    height: 200px
}

.text-div{
    margin: 20px;
}

.show-practice{
    background-color: #fff;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #49beb7;
    cursor: pointer;
    margin-bottom: 20px;
}

.tool-notice{
    cursor: pointer;
}

.button-tools{
    background-color: #008e8e;
    border: 1px white solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.button-div-tool{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 50px 0px
}

/* Check in */

#check-in-header{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 100px 50px 100px;
}

#check-in-header img{
    width: 400px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    width: 100%;
    background-color: whitesmoke;
}

main p{
    margin: 0px 100px;
}

#tool-download{
    background-color: #49beb7;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    align-self: center;
    margin: 60px 10px 10px 10px;
}

.tool-redirect{
    cursor: pointer;
}

/* Hapiness chart */

#canvas-div{
    margin: 50px 0px;
    width: 600px;
    height: 300px;
}

#hapiness-explainer-section{
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd;
    padding: 50px;
}

.notice-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hapiness-explainer-section h2{
    color: white;
}

#hapiness-tool-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tool-notice-hapiness-scale{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 938px){

    #check-in-header {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin: 10px 10px 50px 10px;
    }

    main {
        margin: 50px 10px 50px 10px;
    }
}