#videos{
    display: flex;
    margin: 20px;
}

#localVideo{
    border-radius: 10px;
    margin: 20px;
}

#remoteVideo{
    border-radius: 10px;
    margin: 20px;
}

#videochat-outer-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#room-dialog{
    display: none;
    flex-direction: column;
    align-items: center;
}

#video-stop-icon{
    display: none;
}

#learning-video-chat{
    margin-bottom: 20px;
    background-color:  #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
}