#videos{
    display: flex;
    margin: 20px;
}

#localVideo{
    border-radius: 10px;
    margin: 20px;
}

#remoteVideo{
    border-radius: 10px;
    margin: 20px;
}

#videochat-outer-div{
    display: none;
    flex-direction: column;
    align-items: center;
}

#room-dialog{
    display: none;
    flex-direction: column;
    align-items: center;
}

#video-stop-icon{
    display: none;
}