#for-coach-banner{
  background-image: url(/images/Hero-III.jpg);
  height: 650px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-section{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#community-section{
    background-color: #a7bdbd;
}

.text-div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.image-div img{
    padding-top: 50px;
}

#platform-img{
    width: 80%
}

#community-img{
    width: 120%;
}

#for-coach-banner-title{
    color: #122b46;
    font-size: 35px;
    text-align: center;
    margin-top: 65px;
}

#subtitle{
    margin: 0px 100px 50px 100px;
    letter-spacing: 0.5px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle-subtitle{
    font-size: 28px;
    color: #0c6665;
    margin-top: -60px;
    text-align: center;
}

.section-title{
    font-size: 40px;
    text-align: center;
    color: #0c6665;
}

.voor-coaches-button{
    background-color: #122B46;
    border-radius: 20px;
    border: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    width: 150px;
    align-self: center;
}

#coachtools-text-div{
    text-align: center;
    margin-bottom: 50px;
}

#coachtools-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd;
    padding-bottom: 30px;
}

.coachtools-img{
    border-radius: 30%;
    width: 200px;
}

.coachtool-detail-div{
    margin: 10px 10px;
    width: 45%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
    border-radius: 5px;
}

.coachtool-inner-div{
    display: flex;
    margin: 0px 100px;
}

.coachtool-link{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    border: 1px solid #122b46;
    padding: 5px;
    border-radius: 15px;
}

.coachtool-detail-div h4{
    font-size: 22px;
    font-weight: bold;
    color: #122B46;
}

#link-vitaminds{
    color: #8e0000;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    margin: 15px 0px 0px 5px;
    text-decoration: none;
}

#inputCTA-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features-2{
    background-image: url("/images/voor-coaches-drone.jpg");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#facts{
    margin: 50px 200px 100px 200px;
}

#impact-description{
    margin: 50px 200px 30px 200px;
}

#facts li{
    font-weight: 800;
}

#call-to-action-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/bannerCTA.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 30px;
}

#call-to-action-div h3{
    color: white;
    text-align: center;
} 

#call-to-action-div p{
    font-size: 20px;
    color: white;
} 

#impact-CTA{
    margin: 0px 200px 50px 200px;
    font-size: 30px;
    color: #0c6665;
    font-weight: bold;
    text-align: center;
}

.coach-menu-main-p{
    margin-left: auto;
    color: #49beb7;
    font-size: 16px;
    border: #49beb7 1px solid;
    border-radius: 15px;
    text-decoration: none !important;
    font-weight: bold;
    padding: 5px;
   }

#button-impact{
    margin-bottom: 50px;
}

.coach-card{
    height: 520px;
    width: 350px;
    border-radius: 0px 0px 15px 15px;
    margin: 20px;
    padding-bottom: 20px;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.coach-card p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.coach-card h4{
    text-align: center;
    font-size: 26px;
    margin-bottom: 0px;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button-cta {
    background-color: white;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #122b46;
    cursor: pointer;
    margin: 20px;
   }

.button-cards {
    background-color: white;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #0c6665;
    cursor: pointer;
   }

#coach-card-banner-intervisie{
    background-image: url(/images/hero-II.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-samenwerken{
    background-image: url(/images/avontuur36-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-professionalisering{
    background-image: url(/images/avontuur35-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-reach{
    background-image: url(/images/avontuur42-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-inspireren{
    background-image: url(/images/avontuur39-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-workshops{
    background-image: url(/images/avontuur38-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-coachgroepen{
    background-image: url(/images/avontuur37-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

#coach-card-banner-eenopeen{
    background-image: url(/images/avontuur43-250.jpg);
    background-size: 400px 200px;
    height: 200px;
    width: 100%;
    margin: 0px;
    min-height: 200px;
}

.coach-information-text{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.coach-information-text h3{
    margin-top: 50px;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    text-align: center;
    color: #0c6665;
}

.checked-sellingpoint{
    display: flex;
    align-items: center;
}

.checked-sellingpoint img{
    margin: 15px;
}

#coach-subscriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    padding-bottom: 100px;
}

#banner-register-coach{
    background-image: url(/images/Register-coach-medium1.jpg);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-list{
    list-style-image: url(/images/UL-icon.png);
    margin-right: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.details-list li{
    margin-left: 5px;
    margin-bottom: 5px;
}

.details-div{
    display: flex;
    margin-left: 30px;
}

.button-div{
    display: flex;
    justify-content: center;
}

#online-image{
    background-image: url(/images/Register-coach-small1.jpg);
    height: 200px;
    min-width: 250px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#impact-image{
    background-image: url(/images/Register-coach-small4.jpg);
    height: 200px;
    min-width: 250px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#grow-image{
    background-image: url(/images/Register-coach-small5.jpg);
    height: 200px;
    min-width: 250px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title-register-coach{
    color: #0c6665;
    font-family: 'Libre Baskerville', serif !important;
    font-size: 42px;
    text-align: center;
    padding: 20px;
}

#subtitle-register-coach{
    margin: -70px 200px 50px 200px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 -1px 0px 0 rgba(0,0,0,.2), 0 -1px 1px 0 rgba(0,0,0,.14), 0 -2px 1px 0px rgba(0,0,0,.12);
    text-align: center;
    font-weight: bold;
}

/* #title-register-coach{
    margin: 0px 200px -110px 200px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px 0px rgba(0,0,0,.12);
} */

.coach-information-image img{
    width: 100%;
}

.subscription-colom{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
}

.subscription-colom h3{
    border-bottom: 1px dotted #122b46;
}

.subscription-colom h4{
    align-self: center;
    font-size: 24px;
    color: #49beb7;
    margin: 10px;
}

.become-member-button{
    margin-top: 30px;
}

.feautures-div li{
    list-style-image: url('/images/UL-icon.png');
}

#monthly-cancelation{
    font-size: 18px;
}

.subscription-colom h5{
    margin-left: 60px;
}

.subscription-colom button{
    background-color: #fff;
    border: 1px #49beb7 solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #49beb7;
    cursor: pointer;
}

.button-div{
    margin: 30px 30px 30px 60px;
}

#minimale-eisen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 100px 100px 100px;
    padding: 30px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}


#minimale-eisen h3, li, h4{
    font-size: 20px;
}

#minimale-eisen h4{
    font-size: 16px;
}

.check-code input{
    width: 12px !important;
}

.check-code label{
    font-size: 16px;
}

#coach-register-button{
    margin-top: 10px;
}

#gedragscode{
    display: none;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 10px;

}

#nobco-astrix{
    font-size: 14px;
}

#register-method{
    margin: 0px;
    width: 300px;
    height: 127px;
}

#register-why{
    margin: 0px;
    width: 300px;
    height: 127px;
}

#register-style{
    margin: 0px;
    width: 300px;
    height: 127px;
}

#register-experience{
    margin: 0px;
    width: 300px;
    height: 127px;
}

#register-education{
    margin: 0px;
    width: 300px;
    height: 127px;
}

.input-online-div{
    display: flex;
}

.input-online-div input{
    width: 10px !important;
}

.input-online-div label{
    font-size: 16px;
    color: #122b46;
}

#edit-profile-notice{
    font-size: 16px;
    text-align: center;
}

#coach-register-form{
    display: none;
    flex-direction: column;
    align-items: center;
}

#coach-register-form h2{
    margin: 50px 0px 0px 0px;
}

.price-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-div h6{
    margin: 10px 0px;
    color: #49beb7;
    font-size: 18px;
}

.subscription-outer-div{
    margin-top: 60px;
}

#choice-subscription{
    color: white;
}

#success-modal{
    padding: 0px 0px 0px 0px;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    text-align: center;
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#matchcall{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7bdbd26;
}

#matchcall p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#matchcall img{
    height: 50px;
    margin: 0px 20px;
}

#coachcall-outer-div{
    margin: 0px 100px;
}

#coachcall-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coachcall-welcome img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#founder-name{
    font-size: 16px;
    font-weight: bold;
}

#form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7bdbd26;
    margin-bottom: 100px;
}

.button-coach-call{
    margin: 20px;
}

#platform-section{
    flex-direction: flex;
    align-items: center;
}

#platform-section img{
    width: 70%;
    align-self: flex-start;
}

#clicked{
    background-color: #008e8e;
    border: 1px #008e8e solid;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 938px){

#for-coach-banner-title {
    margin-top: 0px;
}

.image-div img {
    padding-top: 30px;
    width: 80%;
}

.image-div{
    display: flex;
    justify-content: center;
}

#for-coach-banner{
    background-image: url(/images/mobile-hero.png);
    height: 650px;
    width: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#matchcall p {
    font-size: 18px;
}

#subtitle-register-coach {
    color: #122b46;
    margin: 0px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#minimale-eisen{
    margin: 0px 0px 100px 0px;
}

.subscription-colom{
    max-width: 100%;
    margin: 0px;
}

#register-div {
    margin: 50px 0px 100px 0px;
    padding: 30px;
    width: 80%;
}

#monthly-cancelation{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.check-code input {
    width: 20px !important;
}

#subtitle {
    margin: -130px 20px 30px 20px;
    letter-spacing: 0.5px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

#ogo-voor-particulieren{
    width: 150px;
}

#facts {
    margin: 30px 0px 30px 20px;
}

#impact-CTA {
    margin: 0px 20px 50px 20px;
    font-size: 28px;
    color: #0c6665;
    font-weight: bold;
    text-align: center;
}

.details-div {
    flex-direction: column;
    margin-left: 0px;
}

#banner-register-coach{
    background-image: url(/images/Register-coach-medium1.jpg);
    background-attachment: scroll;
}

#for-coach-banner-title {
    font-size: 30px;
}

#impact-description {
    margin: 30px 30px 30px 30px;
}

#subtitle h2{
    font-size: 22px;
}

.coachtool-inner-div {
    flex-direction: column;
}

.coachtool-detail-div {
    width: auto;
    padding: 10%;
    width: 80%;
}

#subtitle-subtitle {
    font-size: 22px;
}

.text-div p{
    font-size: 20px;
}

.coachtool-detail-div p{
    font-size: 18px;
}

#community-img {
    width: 80%;
    margin-left: 15px;
}

.text-div {
    width: 80%;
}

#coachtool-bottom-button{
    align-items: center;
}

#title-register-coach {
    margin-bottom: -100px;
    z-index: 2;
}

.outer-section {
    padding-bottom: 30px;
}

#coachtools-text-div {
    margin-bottom: 0px;
}

.coachtool-detail-div h4 {
    margin-bottom: 0px;
}

#matchcall{
    padding: 0px 10px;
}

#matchcall img{
    height: 45px;
    margin: 0px 10px;
}

#platform-section{
    flex-direction: column-reverse;
    align-items: center;
}

.coachtool-inner-div {
    margin: 0px 30px;
}

}
