body{
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 40px;
    color: #8e0000;
    font-family: 'Libre Baskerville', serif;
}

p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

button{
    border-radius: 5px;
    width: auto;
    padding: 5px;
    background-color: #8e0000;
    color: white;
    border: 1px solid #8e0000;
}